<app-header></app-header>
<div style="background-color: #FFFFFF">
  <div class="header-flex-ul">
    <ul>
      <li>Главная</li>
      <li>></li>
      <li>Продукция</li>
      <li>></li>
      <li>Воздухонагреватели</li>
    </ul>
  </div>
</div>
<app-highly-efficient></app-highly-efficient>
<div style="background-color: #FFFFFF">
  <div class="container">
    <p class="specifications-title">Технические характеристики</p>
    <div class="ul-table">
      <div class="ul-table-bold">
        <div class="ul-table-bold-p">
          <p>Модель</p>
        </div>
        <div class="ul-table-bold-p">
          <p>Тепловая нагрузка</p>
          <div class="ul-table-ops">
            <p>кВт</p>
            <p>ккал/час</p>
          </div>
        </div>
        <div class="ul-table-bold-p">
          <p>Полезная тепловая мощность</p>
          <div class="ul-table-ops">
            <p>кВт</p>
            <p>ккал/час</p>
          </div>
        </div>
        <div class="ul-table-bold-p">
          <p>Расход воздуха при +15°C</p>
          <div class="ul-table-ops">
            <p>нм3/час</p>
          </div>
        </div>
        <div class="ul-table-bold-p">
          <p>Свободный напор</p>
          <div class="ul-table-ops">
            <p>Па</p>
          </div>
        </div>
        <div class="ul-table-bold-p">
          <p>Эл. сеть</p>
          <div class="ul-table-ops">
            <p>В (50 Гц)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #FFFFFF">
  <div class="container">
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
  <div class="specifications-about">
    <p class="child">TC 160 DF</p>
    <p class="child1">161,2</p>
    <p class="child2">138 632</p>
    <p class="child3">145,3</p>
    <p class="child4">124 958</p>
    <p class="child5">10 600</p>
    <p class="child6">150</p>
    <p class="child7">230/400 3N ~</p>
  </div>
    </div>
</div>
<div style="background-color: #FFFFFF">
  <div class="container">
      <p class="dimensions-title">Габаритные размеры и масса</p>
    <img src="../../../../assets/img/Group 438.png" alt="">
  </div>
</div>
<div style="background-color: #FFFFFF">
  <div class="container">
  <div class="dimensions-block">
    <div class="model">
      <p>Модель</p>
      <p></p>
    </div>
    <div class="size">
      <p>Размеры, мм</p>
        <div class="size-ops">
            <p>A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
            <p>E</p>
        </div>
    </div>
    <div class="combustion ">
      <p>Отвод продуктов сгорания</p>
      <div class="combustion-ops">
        <p>Ø мм</p>
      </div>

    </div>
    <div class="weight">
      <p>Вес</p>
      <div class="weight-ops">
        <p>кг</p>
      </div>

    </div>

  </div>
   </div>
</div>
<div style="background-color: #FFFFFF">
  <div class="container">
  <div class="dimensions-about">
    <p class="child8">TC 160 DF</p>
    <p class="child9">1300</p>
    <p class="child10">900</p>
    <p class="child11">2120</p>
    <p class="child12">1000</p>
    <p class="child13">3120</p>
    <p class="child14">200</p>
    <p class="child15">515</p>
  </div>
  <div class="dimensions-about">
    <p class="child8">TC 160 DF</p>
    <p class="child9">1300</p>
    <p class="child10">900</p>
    <p class="child11">2120</p>
    <p class="child12">1000</p>
    <p class="child13">3120</p>
    <p class="child14">200</p>
    <p class="child15">515</p>
  </div>
  <div class="dimensions-about">
    <p class="child8">TC 160 DF</p>
    <p class="child9">1300</p>
    <p class="child10">900</p>
    <p class="child11">2120</p>
    <p class="child12">1000</p>
    <p class="child13">3120</p>
    <p class="child14">200</p>
    <p class="child15">515</p>
  </div>
  <div class="dimensions-about">
    <p class="child8">TC 160 DF</p>
    <p class="child9">1300</p>
    <p class="child10">900</p>
    <p class="child11">2120</p>
    <p class="child12">1000</p>
    <p class="child13">3120</p>
    <p class="child14">200</p>
    <p class="child15">515</p>
  </div>
  <div class="dimensions-about">
    <p class="child8">TC 160 DF</p>
    <p class="child9">1300</p>
    <p class="child10">900</p>
    <p class="child11">2120</p>
    <p class="child12">1000</p>
    <p class="child13">3120</p>
    <p class="child14">200</p>
    <p class="child15">515</p>
  </div>
  <div class="dimensions-about">
    <p class="child8">TC 160 DF</p>
    <p class="child9">1300</p>
    <p class="child10">900</p>
    <p class="child11">2120</p>
    <p class="child12">1000</p>
    <p class="child13">3120</p>
    <p class="child14">200</p>
    <p class="child15">515</p>
  </div>
  </div>

</div>
<app-equipment></app-equipment>

<app-related-equipment></app-related-equipment>
<app-slider></app-slider>
<div class="technological">
  <app-technological></app-technological>
</div>


<app-footer></app-footer>

