<app-header></app-header>
<div class="container">
<div class="navigation">
  <ul>
    <li>Главная</li>
    <li> > </li>
    <li>Пресс-центр</li>
    <li> > </li>
    <li>Блог</li>
  </ul>
</div>
</div>

<div class="info-global">
  <div class="info-container">
    <div class="info-flex">
      <div>
        <div class="contain-dats">
          <button class="contain-button">Отопление</button>
          <p>10 мая 2020</p>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

<div class="contain-info">

  <div class="contain-h">
    <h6>Воздушное отопление — история и принцип работы</h6>
       <p>Сегодня воздушное отопление применяется для отопления<br>
          производственных и складских помещений, торговых<br>
          центров, спортивных объектов, ангаров, тентовых<br>
          конструкций, шахт и буровых установок, чему способствует<br>
          множество преимуществ данного вида отопления перед<br>
         водяным.</p>
  </div>

  <div class="contain-account">
    <img src="../../../assets/press/person.png" height="32" width="32"/>

  </div>

</div>


<app-news-child></app-news-child>
<app-related-equipment></app-related-equipment>

