<app-header></app-header>
<div style="background-color: white;">
<div class="container">
<div class="navigation">
  <ul>
    <li>Главная</li>
    <li> > </li>
    <li>Пресс-центр</li>
    <li> > </li>
    <li>Блог</li>
  </ul>
</div>
</div>
</div>

<div class="info-global" style="background-color: white">
  <div class="container">
    <div class="info-flex">
      <div class="info">
        <div class="contain-dats">
          <button class="contain-button">Отопление</button>
          <p>10 мая 2020</p>
        </div>

        <div class="contain-h h6">
          <h6>Воздушное отопление — история и принцип работы</h6>
          <p>Сегодня воздушное отопление применяется для отопления<br>
            производственных и складских помещений, торговых<br>
            центров, спортивных объектов, ангаров, тентовых<br>
            конструкций, шахт и буровых установок, чему способствует<br>
            множество преимуществ данного вида отопления перед<br>
            водяным.</p>
        </div>
      </div>

      <div class="contain-account">
        <img src="../../../assets/press/person.png" height="32" width="32"/>
        <p>Под редакцией<span> Иванова Ивана</span><br>
          Главного инженера Tecnoclima Москва</p>

      </div>
    </div>
  </div>
</div>

<app-news-child></app-news-child>


<div >
  <div class="container">
    <div class="information-flex">
      <div class="information-texts">
        <p class="info-texts">
          Тем не менее, и сегодня существуют системы обогрева
          производственных помещений с загрязненной средой, где
          приточный воздух нагревается газовыми горелками прямого
          нагрева. В этом случае содержание некоторого количества
          продуктов сгорания газа в приточном воздухе несущественно по
          сравнению с загрязненностью воздуха в помещении.</p>

        <p class="info-texts-h">Преимущества и особенности воздушного отопления</p>
        <p class="info-texts-p">Главным достоинством воздушного отопления является отсутствие воды в системе. Из этого следует:</p>

<div class="information-risks-ul" style="background-color: white">
  <ul>
    <li class="text-info-lies" *ngFor="let i of getAirs">{{i.text}}</li>
  </ul>
</div>
        <div class="information-risks-texts3">
          <p class="information-risks-texts3-1">В системах воздушного отопления тепло передается напрямую от
            источника к воздуху, подаваемому в помещение, без применения
            промежуточного теплоносителя. Таким образом, из системы
            исключается основной источник проблем — жидкость.</p>
          <p class="information-risks-texts3-1">В системе воздушного отопления не бывает протечек, коррозии,
            отсутствуют потери тепла в длинных подводящих магистралях.</p>
          <p class="information-risks-texts3-1">Еще одним преимуществом является возможность объединения
            системы воздушного отопления с системой приточной вентиляции.</p>
          <p class="information-risks-texts3-1">Система воздушного отопления может работать с подмесом
            наружного воздуха до 100%, т.е. при необходимости быть
            полностью приточной.
            Это бывает необходимо для помещений класса
            взрывопожаробезопасности А или Б.</p>
          <p class="information-risks-texts3-2">Тем не менее, воздушное отопление имеет ряд особенностей,
            ограничивающих его применение, в основном, промышленными
            объектами:</p>
          <ul>
            <li class="information-risks-texts4">повышенная шумность;</li>
            <li class="information-risks-texts4">необходимость в разводке громоздкой вентиляционной сети;</li>
            <li class="information-risks-texts4-1">большие габариты теплогенераторов.</li>
          </ul>
        </div>
        <div class="info-economy">
          <p class="info-economy-h">Экономический эффект от применения воздушного отопления</p>
          <p class="info-economy-text1">Высокий (до 30%) экономический эффект от применения воздушного отопления связан со следующими факторами:</p>
          <ul>
            <li class="info-economy-texts"><span class="info-economy-texts1-1">Децентрализация.</span><br>Уход от центральной котельной позволяет существенно сократить издержки
              на строительство протяженных
              магистралей от котельной до обогреваемых помещений.<br><br>
              Газовая магистраль той же длины в строительстве обходится
              существенно дешевле.<br><br>
              Теплопотери, неизбежные при передаче тепла
              теплоносителем на большие расстояния, полностью
              отсутствуют в децентрализованной системе.<br><br>
            </li>
            <li class="info-economy-texts">  <span class="info-economy-texts1-1">Cнижение эксплуатационных расходов.</span><br>
              Для обслуживания вентиляционной системы предприятию не
              требуется содержать штат сантехников, сварщика и т.д. Это
              существенно снижает издержки.<br><br>
              Не требуется проводить регулярные опрессовки системы,
              ежегодно сдавать систему проверяющим органам.
            </li>
          </ul>
        </div>
      </div>


      <div class="information-risks">
        <div class="block-info-risks">
          <p class="information-risks-text">Снижение рисков для предприятия</p>

          <p class="information-risks-text2">Для предприятий, имеющих дело с хранением или
            производством продукции, боящейся воды, наличие
            магистралей с теплоносителем, проходящих, как
            правило, по опорным конструкциям над
            производственным или складским помещением,
            является существенным риском.</p>

          <p class="information-risks-text2">  В случае воздушного отопления данный риск
            отсутствует.</p>
          <p class="information-risks-text2">
            В случае непредвиденной остановки системы
            отопления в холодный период, риск разморозки
            также полностью отсутствует.</p>
          <p class="information-risks-text2-1">
            Кроме того, децентрализованность системы
            воздушного отопления на предприятии исключает
            риски, связанные с выходом из строя единственной
            общей котельной или прорыва главной тепловой
            магистрали.</p>


          <img src="../../../assets/news/image 45.png" /></div>
      </div>

    </div>
  </div>
</div>

<app-related-equipment
[title]="text"
></app-related-equipment>
<div class="contain-group" >

  <div class="contain-title-press-blog">
    <p>Другие материалы</p>

  </div>
  <app-press-blog></app-press-blog>
</div>

<app-footer></app-footer>
