<app-header></app-header>

<div style="background-color: white;">
  <div class="container">
    <div class="navigation">
      <ul>
        <li>Главная</li>
        <li> > </li>
        <li>Пресс-центр</li>
        <li> > </li>
        <li>Блог</li>
      </ul>
    </div>
  </div>
</div>

<!--<div class="info-global" style="background-color: white">-->
<!--  <div class="info-container">-->
<!--    <div class="info-container-flex">-->
<!--         <div><p>10 мая 2020</p></div>-->
<!--    </div>-->
<!--    <div class="info-container-fon">-->
<!--      -->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div style="background-color: white">
  <div class="news-conference">
    <div class="news-conference-flex">
      <div class="conference-h">
        <p class="conference-dats">10 мая 2020</p>
        <p class="conference-h-p">МИД Италии провело презентацию об инвестиционных возможностях </p>
      </div>

      <div class="conference-info">

        <img src="../../../assets/img/image 143.png"/>
      </div>

    </div>
  </div>
</div>
