
.navigation ul {
  padding-bottom: 16px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.navigation li {
  padding-right:5px;
  list-style-type: none ;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
}
.navigation {
  border-bottom: 1px solid #C0C6C9;
  background-color: white;
}
.conference-dats {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #021C27;
  opacity: 0.3;
  padding-top: 50px;
  padding-bottom: 14px;
}
.news-conference-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
//.news-conference {
//  background-color: white;
//  width: 1200px;
//  margin: auto;
//}
.conference-h-p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
}
.conference-h {
  padding-right: 102px;
  width: 57%;
}
.conference-info {
  background: linear-gradient(90deg,#abd5e840 0%, rgba(255, 255, 255, 0) 100%);
  width: 43%;
}
.conference-info img {
  padding-left: 122.67px;
  padding-top: 83px;
}

.global-gradient {
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  padding-bottom: 100px;
  &__title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
    padding-top: 84px;
  }
}
:host::ng-deep .footer .footer__image {
  display: block;
}
