<app-header> </app-header>
<div class="pressGlobal">
  <div class="press">
    <p class="title">Пресс-центр</p>
    <ul class="press-menu">
      <li><a href="">Все</a></li>
      <li><a href="">Блог</a></li>
      <li><a href="">События</a></li>
      <li><a href="">Выставки</a></li>
    </ul>
  </div>
</div>

<div class="blogGlobal">
  <div class="title-menu">
<h6 class="blog-title"> Блог</h6>
  <div class="line">
  <ul class="menu-italy">
    <li><a href="">Все</a></li>
    <li><a href="">Отопление</a> </li>
    <li><a href="">Охлаждение</a></li>
    <li><a href="">Вентиляция</a> </li>
    <li><a href="">Эксплуатация</a></li>
    <li><a href="">Экономика</a></li>
    <li><a href="">Италия</a></li>
  </ul>
  </div>
  </div>
  <app-press-blog></app-press-blog>
  <app-press-blog></app-press-blog>


  <button class="blog-click"><span>В блог</span></button>
</div>




<div class="events-global">

  <app-press-events> </app-press-events>
  <app-press-events> </app-press-events>
    <button class="event-click"><span>Все события</span></button>

</div>

  <div class="show">
    <div class="show-container">

        <div class="show-block" *ngFor="let j of show">
          <div class="show-texts">
            <p class="show-day">{{j.day}}  </p>
            <p class="show-month">{{j.month}}</p>
            <span class="line2">|</span>
            <p class="show-day">{{j.day_2}}</p>
            <p class="show-month">{{j.month}}</p>
              <p class="show-title">{{j.text}}</p>
        </div>
      </div>

    </div>

  </div>
<app-footer></app-footer>







