.header-names{
  background: white;
}
.names-container{
  width:83%;
  margin:auto;
}
.navigation ul {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
li {
  margin-right:16px;
  list-style-type: none ;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
}
.navigation {
  border-bottom: 1px solid #C0C6C9;
  padding-top: 34px;
}
.pressGlobal{
  background: #FFFFFF;
  padding-bottom:80px;
}
.press{
  width:83%;
  margin:auto;
  border-top:1px solid #C0C6C9;
  padding-top:30px;
}
.title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
  margin-top:30px;
}
.press-menu{
  display: inline-flex;
  border: 1px solid #021C27;
  border-radius: 5px;
  margin-top:66px
}
.press-menu li{
  list-style-type: none;
  border-right:1px solid #000000;
  padding:10px 20px;
}
.blog-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
}
.title-menu{
  width: 83%;
  margin:auto;
}
.line{
  border-bottom:1px solid #C0C6C9;
}
.menu-italy{
  display:inline-flex;
  padding-top:60px;
  padding-bottom: 20px;
}
.menu-italy li{
  list-style-type: none;
  padding: 0 13px;
}
.menu-italy li a{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.3;
  text-decoration: none;

}
.press-menu li a{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  text-decoration: none;
}
.blogGlobal{
  background: #FFFFFF;
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
}
.blog-click{
  background-color: #009FE3;
  opacity: 0.1;
  border-radius: 5px;
  padding:10px 20px;
  margin-top:40px;
  margin-bottom:80px;
  border:none;
}
.click{
  width: 83%;
  margin: auto;
}
.blog-click span{
  color: #009FE3;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.events-global{
  background:#FFFFFF;
}

.event-click{
  background-color: #009FE3;
  opacity: 0.1;
  border-radius: 5px;
  padding:10px 20px;
  margin:70.53px 0 80px 0;
  border:none;
}
.event-click span{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #009FE3;
}
show__date-line{
  color:  #FFFFFF;
}

