
<div class="admin-flex">
<div #fo class="wrapper">
  <form  [formGroup]="form">
    <button class="wrapper__closeButton"   (click)="closeWrapper()">X</button>
    <div>
      <label for="button">Button</label>
      <input type="text" id="button" name="button" value="hfdhfjdhgvd" formControlName="button">
    </div>
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" formControlName="title">
    </div>
    <div>
      <label for="text">Text</label>
      <textarea type="text" id="text" name="title" formControlName="text"></textarea>
    </div>
    <div>
      <label for="text">Info</label>
      <input type="text" id="info" name="info" formControlName="info">
    </div>

    <button class="wrapper__save" (click)="save(fo)">SAVE</button>
    <button class="wrapper__reset" (click)="reset()">RESET</button>
  </form>
</div>


  <table>
    <tr class="titles">
      <td>Button</td>
      <td>Title</td>
      <td>Text</td>
      <td>Image</td>
      <td>Image description</td>
      <td>Action buttons</td>
    </tr>
    <tr *ngFor="let item of press">
      <td>{{item.button}}</td>
      <td>{{item.title}}</td>
      <td>{{item.text}}</td>
      <td>{{item.img}}</td>
      <td>{{item.info}}</td>
      <td>
        <div class="question" #question>
        <div class="questionClose" >
          <p> Are you sure you want to delete this item ?</p>
          <div class="questionClose__buttons">
          <button  (click)="deleteItem(item.id)" >Yes</button>
          <button (click)="closeItem(question)">No</button>
          </div>
        </div>
        </div>
        <button (click)="openQuestion(question)" class="bord">Delete</button>
        <button (click)="openForm(item, fo)" class="bord">Edit</button>
      </td>
    </tr>
    <button (click)="add(fo)" class="create">Create a new object</button>
  </table>


</div>
