body{
  background-color: black;
}
.global {
  background-color: #FFFFFF;
}
.container {
  width: 83%;
  margin: auto;
}
.navigation ul {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
li {
  margin-right:16px;
  list-style-type: none ;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
}
.navigation {
  border-bottom: 1px solid #C0C6C9;
}
h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
  margin-bottom: 86px;
  padding-top: 30px;
  @media screen and (max-width:1133px) {
    font-size: 60px;
  }
  @media screen and (max-width:1021px) {
    font-size: 50px;
    margin-bottom: 40px;
  }
  @media screen and (max-width:880px) {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.information {
  width: 100%;
  display: flex;
}
h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  @media screen and (max-width:1021px) {
    font-size: 40px;
  }
  @media screen and (max-width:880px) {
    font-size: 30px;
  }
}
.address {
  width: 50%;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}
.address-telephone{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 42px;
  border-bottom:  1px solid #C0C6C9;
  @media screen and (max-width:1021px) {
    padding-top: 20px;
  }
}
.telephone-fax {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.4;
  padding-right: 44px;
  @media screen and (max-width:1056px) {
    padding: 0;
  }
}
.numbers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 24px;
}
.numbers-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  cursor: pointer;
  a{
    border: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #021C27;
    text-decoration: none;
    border-bottom: 1px solid #009fe352;
  }
  @media screen and (max-width:1056px) {
    font-size: 15px;
  }
}
.button-fax{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #021C27;
  width: 48px;
  height: 18px;
  margin-top: 32px;
  margin-left: 7px;
  opacity: 0.4;
  @media screen and (max-width:1056px) {
    margin-top: 25px;
  }
  @media screen and (max-width:761px) {
    margin-left: 0;
    margin-top: 30px;
  }
}
.email-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.4;
  padding-right: 44px;
  @media screen and (max-width:1056px) {
    padding: 0;
  }
}
.email-service {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  padding-top: 34px;
  padding-bottom: 40px;
  border-bottom:  1px solid #C0C6C9;
}
.email-addresses a{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  text-decoration: none;
  border-bottom: 1px solid #009fe352;
  margin-left: 56px;
  cursor: pointer;
  @media screen and (max-width:1056px) {
    font-size: 15px;
  }
  @media screen and (max-width:761px) {
    margin-left: 18px;
  }
}
.address-service {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 100px;
}
.address-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.4;
  padding-right: 44px;
  @media screen and (max-width:1056px) {
    padding: 0;
  }
}
.addresses-organization {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  margin-left: 50px;
  cursor: pointer;
  @media screen and (max-width:1142px) {
     width: 254px;
    }
  @media screen and (max-width:857px) {
    font-size: 15px;
    margin-left: 35px;
  }
  @media screen and (max-width:761px) {
    margin-left: 10px;
  }
}
.contact-us {
  background: linear-gradient(90deg, #abd5e826 0%, rgba(255, 255, 255, 0) 100%);
  width: 50%;
  margin-left: 102px;
  @media screen and (max-width:888px) {
    margin-left: 50px;
  }
  @media screen and (max-width:761px) {
    margin-left: 30px;
  }
}
.contact-us-block {
  padding: 201px 102px 107px 120px;
  @media screen and (max-width:1040px) {
    padding-left: 40px;
  }
  @media screen and (max-width:880px) {
     padding-top: 170px;
  }
  @media screen and (max-width:763px) {
    padding-left: 15px;
    padding-bottom: 40px;
  }
}
.downloads-text {
  display: flex;
  @media screen and (max-width:825px) {
    width: 201px;
  }
}
.title1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  @media screen and (max-width:693px) {
    margin-left: 14px;
  }
  @media screen and (max-width:702px) {
    font-size: 20px;
  }
}
.title2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  margin-bottom: 41px;
  @media screen and (max-width:702px) {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
.main-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top: 30px;
  @media screen and (max-width:884px) {
   width: 225px;
    }
}
.message-button {
  background-color: #009FE3;
  border-radius: 5px;
  border: none;
  margin-top: 36px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 20px;
  margin-bottom: 80px;
  &:hover{
    background: #021C27;
    border-radius: 4px;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  @media screen and (max-width:1077px) {
    width: 225px;
    font-size: 14px;
  }
  @media screen and (max-width:702px) {
    margin-bottom: 35px;
  }
}
.information-button {
  background-color: #021C27;
  border-radius: 5px;
  border: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 11px 20px;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover{
   background: #009FE3;
  }
  @media screen and (max-width:1222px) {
    width: 225px;
    font-size: 14px;
  }
}
.downloads-text2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  border-bottom: 1px solid #009fe352;
  margin-left: 12px;
}
.maps-block{
  text-align: center;
}
.maps-block iframe{
  width: 100%;
  max-width:1920px;
  height:360px;
  border:0;
}
.information-cities {
  width: 83%;
  margin: auto;
}
.information-cities h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 80px;
  padding-bottom: 60px;
  @media screen and (max-width:1130px) {
    font-size: 40px;
  }
  @media screen and (max-width:921px) {
    font-size:35px ;
  }
}

.cities-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 102px;
  li{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #021C27;
    text-align: start;
    border-bottom: 1px dashed #009fe33d;
    padding: 25px 14px 0px 1px;
    cursor: pointer;
    &:hover{
      color: #021C27;
      opacity: 0.35;
      border-radius: 4px;
      transition-duration: 0.5s;
    }
    @media screen and (max-width:1125px) {
      font-size:15px ;
    }
    @media screen and (max-width:1021px) {
      padding: 25px 0px 0px 1px;
    }
    @media screen and (max-width:921px) {
      font-size:13px ;
    }
    @media screen and (max-width:817px) {
      line-height: 140%;
      margin-right: 0;
    }
    @media screen and (max-width:730px) {

    }
  }
}

