<div style="background-color: #FFFFFF">
  <div class="container">
  <div class="highlyEfficient">
    <div class="highlyEfficient-child1">
      <h6>TC-DF</h6>
      <div class="highlyEfficient-child1-imegis">
        <div><img src="../../../../assets/air-heaters/image 11.png" alt=""></div>
        <div><img src="../../../../assets/air-heaters/image 29.png" alt=""></div>
        <div><img src="../../../../assets/air-heaters/image 30.png" alt=""></div>
        <div><img src="../../../../assets/air-heaters/image 31.png" alt=""></div>
        <div class="treeimg"><img  src="../../../../assets/air-heaters/+3.png" alt=""></div>
      </div>
      <img class="highlyEfficient-child1-img" src="../../../../assets/air-heaters/image 2.png" alt=""></div>

    <div class="highlyEfficient-child2">
      <p class="highlyEfficient-child2-text">Высокоэффективные вертикальные воздушные обогреватели
        с выходом воздуха вниз (Down Flow) для специального применения.<br><br>
        Высокоэффективный воздухонагреватель. Вертикальная версия серии TC
        Down Flow с газовой или дизельной горелкой обеспечивает подачу теплого воздуха в основном в
        тепличные конструкции, а также во всех случаях, когда требуется диффузия через
        воздухораспределительное устройство.
      </p>
      <div class="highlyEfficient-child2-textBlock">
        <div class="highlyEfficient-child2-textBlock-child1">
          <p>Назначение</p>
          <p>Топливо</p>
          <p>Тепловая мощность</p>
          <p>Воздушный поток</p>
        </div>
        <div class="highlyEfficient-child2-textBlock-child2">
          <p>отопление</p>
          <p>газ, дизель</p>
          <p>160-770 кВт</p>
          <p>10600-50000 м3/ч</p>
        </div>

      </div>
      <button>Получить консультацию</button>
    </div>

  </div>
    <div class="highly-group">
    <div class="highlyEfficient-flex-menu">

    <div class="highlyEfficient-menu-child"><p>Описание</p></div>
    <div class="highlyEfficient-menu-child"><p>Конструкция</p></div>
    <div class="highlyEfficient-menu-child"><p>Технические характеристики</p></div>
    <div class="highlyEfficient-menu-child"><p>Документы и файлы</p></div>
    <div class="highlyEfficient-menu-child"><p>Аксессуары</p></div>

  </div>
    </div>
  </div>

</div>
