<div style="background-color: #FFFFFF">
  <div class="container">

    <div class="highlyEfficient">


      <div class="highlyEfficient__picture">

        <h6 class="highlyEfficient__title">TC-DF</h6>
        <div class="highlyEfficient__flex">

        <div class="highlyEfficient__images">
          <img src="../../../../assets/air-heaters/image 11.png" alt="">
          <img src="../../../../assets/air-heaters/image 29.png" alt="">
          <img src="../../../../assets/air-heaters/image 30.png" alt="">
          <img src="../../../../assets/air-heaters/image 31.png" alt="">
          <img class="highlyEfficient__image-more" src="../../../../assets/air-heaters/+3.png" alt="">
        </div>
        <img class="highlyEfficient__picture__image" src="../../../../assets/air-heaters/image 2.png" alt="">
      </div>
      </div>

      <div class="highlyEfficient__description">
        <p class="highlyEfficient__text">Высокоэффективные вертикальные воздушные обогреватели
          с выходом воздуха вниз (Down Flow) для специального применения.<br><br>
          Высокоэффективный воздухонагреватель. Вертикальная версия серии TC
          Down Flow с газовой или дизельной горелкой обеспечивает подачу теплого воздуха в основном в
          тепличные конструкции, а также во всех случаях, когда требуется диффузия через
          воздухораспределительное устройство.
        </p>
        <div class="highlyEfficient__types">
          <div class="highlyEfficient__type-wrapper">
            <p class="highlyEfficient__type">Назначение</p>
            <p class="highlyEfficient__type">Топливо</p>
            <p class="highlyEfficient__type">Тепловая мощность</p>
            <p class="highlyEfficient__type">Воздушный поток</p>
          </div>
          <div class="highlyEfficient__type-wrapper">
            <p class="highlyEfficient__type highlyEfficient__type_value">отопление</p>
            <p class="highlyEfficient__type highlyEfficient__type_value">газ, дизель</p>
            <p class="highlyEfficient__type highlyEfficient__type_value">160-770 кВт</p>
            <p class="highlyEfficient__type highlyEfficient__type_value">10600-50000 м3/ч</p>
          </div>

        </div>
        <button class="highlyEfficient__button">Получить консультацию</button>
      </div>

    </div>
    <div class="technical">
      <div class="technical__menu">
        <div class="technical__element">Описание</div>
        <div class="technical__element">Конструкция</div>
        <div class="technical__element">Технические характеристики</div>
        <div class="technical__element">Документы и файлы</div>
        <div class="technical__element">Аксессуары</div>

      </div>
    </div>
  </div>

</div>
