<div style="background-color: #FFFFFF">
  <div class="container">
    <div class="highlyEfficient">
      <div class="highlyEfficient__picture">
        <h6 class="highlyEfficient__title">TC-DF</h6>
        <div class="highlyEfficient__flex">
        <div class="highlyEfficient__images">
         <div *ngFor="let item of getList" (click)="openImg(item)">
           <img src="{{item.img}}" alt="">
         </div>
          <img class="highlyEfficient__image-more" src="../../../../assets/air-heaters/+3.png" alt="">
        </div>
        <img  class="highlyEfficient__picture__image" src="{{x}}" alt="">
      </div>
      </div>
      <div class="highlyEfficient__description">
        <p class="highlyEfficient__text">Высокоэффективные вертикальные воздушные обогреватели
          с выходом воздуха вниз (Down Flow) для специального применения.<br><br>
          Высокоэффективный воздухонагреватель. Вертикальная версия серии TC
          Down Flow с газовой или дизельной горелкой обеспечивает подачу теплого воздуха в основном в
          тепличные конструкции, а также во всех случаях, когда требуется диффузия через
          воздухораспределительное устройство.
        </p>
        <div class="highlyEfficient__types">
          <div class="highlyEfficient__type-wrapper">
            <p class="highlyEfficient__type">Назначение</p>
            <p class="highlyEfficient__type">Топливо</p>
            <p class="highlyEfficient__type">Тепловая мощность</p>
            <p class="highlyEfficient__type">Воздушный поток</p>
          </div>
          <div class="highlyEfficient__type-wrapper">
            <p class="highlyEfficient__type highlyEfficient__type_value">отопление</p>
            <p class="highlyEfficient__type highlyEfficient__type_value">газ, дизель</p>
            <p class="highlyEfficient__type highlyEfficient__type_value">160-770 кВт</p>
            <p class="highlyEfficient__type highlyEfficient__type_value">10600-50000 м3/ч</p>
          </div>
        </div>
        <button class="highlyEfficient__button"   (click)="openConsultation()">Получить консультацию</button>
      </div>
      <app-consultation
        [is-open]="!isConsultationOpen"
        (whenConsultationOpen)="openConsultation($event)"
        class="consultation"
      >
        <p class="consultation__tittle">Получить консультацию</p>
        <p class="consultation__text">Оставьте свое имя с номером телефона и наши <br> специалисты свяжутся с вами.</p>
        <form [formGroup]="form" class="consultation__form">
          <div class="consultation__form__name">
            <label for="userName">Ваше имя </label>
            <div><input formControlName="name" type="text" id="userName"></div>
          </div>
          <div class="consultation__form__tel">
            <label for="number">Телефон</label>
            <div><input type="tel" id="number" name="number" formControlName ="number"></div>
          </div>
          <div class="consultation__form__checkbox">
            <input type="checkbox"  id="check">
            <label for="check">Отправляя заявку, даю согласие на хранение <br>
              и обработку персональных данных</label>
          </div>
          <button [disabled]="form.invalid"  class="consultation__form__button">Отправить</button>
        </form>
        <div >
          <img src="../../../assets/img/image 125 (2) (1).png" class="consultation__blue__flag"/>
        </div>
      </app-consultation>
    </div>
    <div class="technical">
      <div class="technical__menu">
        <div class="technical__element"><a routerLink="/air-heaters">Описание</a> </div>
        <div class="technical__element">Конструкция</div>
        <div class="technical__element"> <a routerLink="/specifications">Технические характеристики</a> </div>
        <div class="technical__element"><a routerLink="/documents"> Документы и файлы</a> </div>
        <div class="technical__element"> <a routerLink="/accessories">Аксессуары</a> </div>
      </div>
    </div>
  </div>
</div>
