<app-header></app-header>

<div class="solution-header">
  <div class="container">
    <ul class="solution-header__ul">
      <li class="solution-header__li">Главная</li>
      <li class="solution-header__li">></li>
      <li class="solution-header__li">Примеры решений</li>
    </ul>
  </div>
</div>

<app-solution-exampels-header></app-solution-exampels-header>

    <app-industries></app-industries>



<div>
  <div class="red-flag">
    <img src="../../../assets/img/Group 396.png" /></div>
</div>


  <div class="container">
    <p class="techno-flex-title">Оборудование</p>
    <div class="techno-flex">
      <div *ngFor="let item of technoImg" class="techno-block">
        <img src="{{item.img}}" alt="no image" class="techno-img">
        <p class="techno-description">{{item.description}}</p>
      </div>
    </div>
  </div>



<app-series></app-series>

<div class="logos-block-global">
  <div class="container">
    <app-logos></app-logos>
  </div>
</div>



<app-footer></app-footer>
