<app-header></app-header>

<div class="solution-header">
  <div class="container">
    <ul class="solution-header__ul">
      <li class="solution-header__li">Главная</li>
      <li class="solution-header__li">></li>
      <li class="solution-header__li">Примеры решений</li>
    </ul>
  </div>
</div>

<app-solution-exampels-header></app-solution-exampels-header>

<app-industries></app-industries>

<div>
  <div class="red-flag">
    <img src="../../../assets/img/Group 396.png" height="86" width="1000"/></div>
</div>

<app-series></app-series>

<div>
  <div class="container">
    <app-logos></app-logos>
  </div>
</div>



<app-footer></app-footer>
