<div class="related__title">
  <div class="container">
    <p class="related-name" >{{title}}Сопутствующее оборудование </p>
  </div>
</div>

<div class="related__block">
  <div class="container">
    <div class="related__block__flex">
      <div class="related" *ngFor="let item of related">
        <div class="related__img"> <img src="{{item.img}}" alt=""></div>

        <p class="related__seria">{{item.seria}}</p>
        <p class="related__little__title">{{item.title}}</p>
        <p class="related__text">{{item.text}}</p>
      </div>
    </div>
  </div>
</div>
