.used-title{
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #021C27;
  margin-top:19px;
}

.used-global{
  text-align: center;
  padding:35px 40px;
  margin-top:37px;
}
.used-description{
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  width: 172px;
  text-align: left;
  margin-top:10px;
  margin-bottom:20px;
  height: 54px;
}
.used-text{
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.4;
  width: 215px;
  text-align: left;
}
