.equipment{
  width: 87%;
  max-width: 1440px;
  margin:0 auto;
  background: #FFFFFF;
  box-shadow: 0 20px 60px rgba(2, 26, 36, 0.1);
  border-radius: 40px;
  position: relative;
  padding-left:70px;
  &__tittle{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 120%;
    padding: 56px 0;
    color: black;
   span {
      opacity: 0.5;
    }
}
  &__click{
    background: #E3061B;
    border-radius: 5px;
    border:none;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:12px 25px;
    margin-top:28px;
    margin-bottom:46px;
    cursor: pointer;
    &:hover{
      background: #021C27;
      border-radius: 4px;
      transition-duration: 0.5s;
    }
  }
}
.general__tabs{
  width: 692px;
  height: 0.5px;
  border: 1px solid #ECEEEF;
  display: flex;
  justify-content: space-between;
  &__tab{
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 5px solid #E3061B;
    box-sizing: border-box;
    border-radius: 9px;
    position: relative;
    bottom: 9px;
    z-index: 1000;
  }
}

.fuel{
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 89%;
  margin: 55px auto;
  @media screen and (max-width:1200px){
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 0;
  }
  &__container{
    width:27.4%;
    @media screen and (max-width:1200px){
      width:40%
  }
  }
  &:last-child {
    margin-right: 0;
  }
  &__title {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #021C27;
    margin-bottom: 17px;
    @media screen and (max-width:1200px){
      margin-top:30px
    }

    b{
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 120%;
      letter-spacing: 0.2px;
      color: #021C27;
      margin-left: 17px;
      cursor: pointer;
    }
  }
  &__block {
    border: 1px solid #009FE3;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
  }
}
.info{
  display: flex;
  border-top: 1px dashed #009FE3;
  width: 57%;
  &__child3{
    display: flex;
    align-items: flex-start;
    margin-right:50px;
    margin-top: 33px;
    margin-bottom: 56px;
    cursor: pointer;
    p{
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: 0.2px;
      color: #021C27;
      margin-left: 15px;
     span{
       border-bottom: 1px solid rgba(0, 159, 227, 0.29);
     }
    }
  }
  &__child3{
    display: flex;
    margin-right: 93px;
    align-items: flex-start;
    margin-top: 33px;
    margin-bottom: 56px;
  }
  &__img{
    position: absolute;
    bottom: 65px;
    right:120px;
    @media screen and (max-width:1200px){
   right:50px
  }
  }
  &__icon{
    margin-right:15px;
  }
}






