b{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  margin-left: 17px;

}
.fuel{
  display: flex;
  margin-top: 55px;
  margin-left: 78px;
  background-color: #FFFFFF;
  &:last-child {
    margin-right: 0;
  }
  &__container {
    margin-right: 100px;
  }
  &__title {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #021C27;
    margin-bottom: 17px;
  }
  &__block {
    border: 1px solid #009FE3;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
  }
}
.fuel-flex:nth-child(n+2){
  padding-left: 297px;
}
