@import "src/assets/scss/mixins/container.scss";
.icon{
  display: none;
  @media only screen and (max-width:800px){
    display: block;
  }
}
.header {
  @include container;
  display: flex;
  padding: 45px 0 17px 0;
  justify-content: space-between;
  position: relative;
  @media screen and (max-width:1133px){
    flex-wrap: wrap;
    justify-content: space-around;

  }
  &__show{
    display: block;
  }
  //@media screen and (max-width:800px){
  // flex-wrap: wrap;
  //}

  &__logo {
    padding-right: 43px;
    display: flex;
    align-items: flex-start;
    @media screen and (max-width:1430px){
    padding-right: 15px;
    }
  }
  &__logo img {
    @media screen and (max-width:1430px){
   width:110px;
       }
  }
  &__navigate {
    &-links {
      padding: 0 25px 0 0;
      @media screen and (max-width:1430px){
        padding: 0 17px 0 0;
      }
      &-wrapper {
        display: flex;
        list-style-type: none;
        padding-right: 52px;
        align-items: center;
        @media screen and (max-width:1430px){
          padding-right: 0;
        }
        :nth-child(n + 2){
          @media screen and (max-width:800px){
            display: none;
          }


        }
        @media screen and (max-width:800px){
          top: 45px;
          position: absolute;
          right: 0;
        }

      }
    }
    &-link {
      list-style-type: none;
      text-decoration: none;
      color: #021C27;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      cursor: pointer;
      @media screen and (max-width:1133px){
        font-size: 15px;
      }
    }
  }
  &__number {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    padding-top: 12px;
    cursor: pointer;
    @media screen and (max-width:1430px){
      padding-top:8px;
    }
    @media screen and (max-width:1133px){
      padding-top:5px;
    }
    @media only screen and (max-width:907px){
   padding-top: 32px;
  }
    @media only screen and (max-width:800px){
      padding-top:5px;
    }
  }
  &__search-button {
    border: 0;
    background: none;
    padding: 0;
    outline: none;
    margin:0 29px 0 24px;
    cursor: pointer;
    @media only screen and (max-width:1430px){
      margin:5px 14px 0 14px;
    }
    @media only screen and (max-width:957px){
      margin:27px 14px 0 14px;
    }
    @media only screen and (max-width:800px){
   margin-top: 0;
      margin-right: 80px;
    }
    @media only screen and (max-width:600px){
      margin-top: 7px;
      margin-right: 50px;
    }

  }
  &__payment-button {
    background: #FFFFFF;
    box-shadow: 0 10px 200px rgba(2, 28, 39, 0.08);
    border: 1px solid #021C27;
    border-radius: 4px;
    padding: 10px 15px 11px 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #021C27;
    opacity: 0.9;
    cursor: pointer;
    @media only screen and (max-width:1430px){
      padding: 5px 10px;
    }
    @media screen and (max-width:1133px){
      width: 80%;
      margin-top:25px;
      padding: 4px;
      font-size: 18px;
    }
    @media only screen and (max-width:907px){
     width: 32%;
    }
    @media only screen and (max-width:800px){
      width: 100%;
      margin-top: 20px;
    }

    &:hover{
      background: #021C27;;
      border-radius: 4px;
      transition-duration: 0.5s;
      color: #FFFFFF;
    }


  }
}


