  <div class="header">
    <div class="header-flex">
    <div>
      <img src="../../../../assets/img/logo.svg" alt="no image">
      <img src="../../../../assets/img/menu.logo.svg" alt="" class="menu-logo">
   </div>
   <ul>
     <li><a href="">Продукция</a> </li>
     <li><a href="">Примеры решений</a></li>
     <li><a href="">Услуги</a></li>
     <li><a href="">О компании</a></li>
     <li><a href="">Контакты</a></li>
   </ul>
    <p>+7 495 104-70-77</p>
    <button class="search-button"><img src="../../../../assets/img/search.svg" alt=""></button>

    <button class="button2">Расчет оборудования</button>
      </div>
  </div>
