@import "src/assets/scss/mixins/container.scss";

.header {
  @include container;
  display: flex;
  padding: 40px 0 50px;
  justify-content: space-between;
  position: relative;

  &__show{
    display: block;
  }
  @media screen and (max-width:800px){
   flex-wrap: wrap;

  }

  &__logo {
    padding-right: 43px;
    display: flex;
    align-items: center;
    @media screen and (max-width:1430px){
    padding-right: 15px;
    }
  }
  &__logo img {
    @media screen and (max-width:1430px){
   width:110px;
       }
  }
  &__navigate {
    &-links {
      padding: 0 25px 0 0;
      @media screen and (max-width:1430px){
        padding: 0 17px 0 0;
      }
      &-wrapper {
        display: flex;
        list-style-type: none;
        padding-right: 52px;
        @media screen and (max-width:1430px){
          padding-right: 0;
        }
        :nth-child(n + 2){
          @media screen and (max-width:800px){
            display: none;
          }


        }
        @media screen and (max-width:800px){
          top: 45px;
          position: absolute;
          right: 0;
        }

      }
    }
    &-link {
      list-style-type: none;
      text-decoration: none;
      color: #021C27;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      cursor: pointer;
    }
  }
  &__number {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    padding-top: 12px;
    cursor: pointer;
    @media only screen and (max-width:800px){

    }
  }
  &__search-button {
    border: 0;
    background: none;
    padding: 0;
    outline: none;
    margin:10px 29px 0 24px;
    cursor: pointer;
    @media only screen and (max-width:1430px){
     margin-left: 14px;
     margin-right: 14px;
    }
    @media only screen and (max-width:800px){
   margin-top: 0;
      margin-right: 80px;
    }
  }
  &__payment-button {
    background: #FFFFFF;
    box-shadow: 0 10px 200px rgba(2, 28, 39, 0.08);
    border: 1px solid #021C27;
    border-radius: 4px;
    padding: 10px 15px 11px 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #021C27;
    opacity: 0.9;
    cursor: pointer;
    @media only screen and (max-width:800px){
      width: 100%;
      margin-top: 20px;
    }

    &:hover{
      background: #021C27;;
      border-radius: 4px;
      transition-duration: 0.5s;
      color: #FFFFFF;
    }
    @media only screen and (max-width:1430px){
      padding: 5px 10px;
    }

  }
}


