<app-header></app-header>
<div>
  <div class="container">
  <div class="header-flex-ul" >
    <ul>
      <li>Главная</li>
      <li>></li>
      <li>Продукция</li>
      <li>></li>
      <li>Воздухонагреватели</li>
    </ul>
  </div>
  </div>
</div>
<app-highly-efficient></app-highly-efficient>
<div>
  <div class="container">
    <p class="accessories-title">
      Аксессуары
    </p>
    <div class="accessories-flex">
      <app-accessories-child *ngFor="let item of accessories" [img]="item.img" [text]="item.text"></app-accessories-child>
    </div>
  </div>
</div>
<app-equipment></app-equipment>
<div>
  <div>
    <div class="container">
      <p class="indoor-title">Оборудование из серии</p>
      <div class="indoor-equipment">
      <app-equipment-series *ngFor="let j of equipment"
                            [title]="j.title"
                            [img]="j.img"
                            [about]="j.about"
                            [text]="j.text"
      >

      </app-equipment-series>
      </div>

    </div>
  </div>
  <app-related-equipment></app-related-equipment>
</div>

<div class="airHeaters-slider-title">
  <div class="container">
    <p class="airHeaters-title">Примеры решений</p>
  </div>
</div>
<app-slider></app-slider>
<div class="technological">
  <app-technological></app-technological>
</div>

<app-footer></app-footer>
