.admin{
  display: flex;
  margin-top:30px;
  justify-content: space-between;
  position: relative;
  &__zone{
    width:80%;
    background: linear-gradient(90deg, #E6F5FC 0%, #FCE6E8 100%);
    border-radius: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 6%;
    font-size: 166px
  }

}
.admin-container{
  width:93%;
  margin:auto;
}
