
.admin{
  display: flex;
  justify-content: space-between;
  position: relative;
  &__zone{
    width:80%;
    background: linear-gradient(90deg, #E6F5FC 0%, #FCE6E8 100%);
    border-radius: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 6%;
    font-size: 166px
  }
}
.admin-container{
  width:93%;
  margin:auto;
}
.admin-header{
  background-color: #cce9fc;
  &__flex{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  &__name{
    display: flex;
    flex-direction: row-reverse;
    p{
      padding-right: 10px;
      padding-top: 5px;
    }
  }
}
