

.home {
  &__complex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.industrial{
  background-color: white;
  &__flex{
    display: flex;
    justify-content: space-between;
    background-image: url("../../../assets/img/Group 382 (1).png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 34px -184px;
    @media screen and (max-width:1200px){
      background:none;
    }
    @media screen and (max-width:900px){
      justify-content: flex-start;
    }
    @media screen and (max-width:596px){
      justify-content: space-between;
    }

  }
  &__text{
    width: 50%;
    margin-top: 70px;
    @media screen and (max-width:1200px){
      width: 62%;
  }
    @media screen and (max-width:900px){
      width: 60%;
    }
   b{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -0.02em;
     @media screen and (max-width:1200px){
      font-size: 55px;
     }
     @media screen and (max-width:900px){
       font-size: 40px;
     }
     @media screen and (max-width:596px){
       font-size: 32px;
     }
    }
  }
  &__button{
    background: #009FE3;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor:pointer;
    @media screen and (max-width:900px){
      padding: 11px 11px;
    }
    @media screen and (max-width:596px){
      font-size: 15px;
    }


    &:hover{
      background: #021C27;
      border-radius: 4px;
      transition-duration: 0.5s;
    }
  }
  &__percent{
    margin-top: 30px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #021C27;
    @media screen and (max-width:596px){
      font-size: 20px;
      margin-top: 18px;
    }
    @media screen and (max-width:430px){
      font-size: 15px;
    }
  }
  &__click{
    margin-top: 40px;
    @media screen and (max-width:596px){
    margin-top: 20px;
    }
  }
  &__img{
    position: relative;
    margin-top: 15px;
    padding-bottom: 50px;
    width: 50%;
    @media screen and (max-width:1200px){
    width:40%;
      margin-top:60px;
  }
   :last-child{
      width: 100%;
    }

    &__one{
      position: absolute;
      right:45px;
      top:40px;
      @media screen and (max-width:900px){
      display:none;
    }
    }
    &__two{
      border-radius: 40px;
      @media screen and (max-width:596px){
        margin-top: 120px;
      }
    }
  }
  &__types{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    @media screen and (max-width: 900px) {
      display: none;
    }
  &__heating{
    border-bottom:1px solid #009FE3;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #021C27;
    opacity: 0.5;
    margin-right: 20px;
    width: 146px;
    padding-bottom: 26px;
    &:hover {
      border-bottom:1px solid #009FE3;
      opacity: 1;
      transition-duration: 0.5s;
      cursor: pointer;
      transform: scale(1.1);
      text-decoration: black;
    }

  }
  }

}
.child1:first-child{
  border-bottom:5px solid #009FE3;
}


.info-block{
  display: flex;
  width: 800px;
}
.child3{
  display: flex;
  align-items: center
}
.child3 img{
  width: 16px;
  height: 20px;
}
.child3 p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.child4:nth-child(n+2){
  padding-left: 326px;
}
.child4 h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}

.equipment{
  background-color: #FFFFFF;
}
.techno{
  background-color: #FFFFFF;
  padding-top: 82px;
  padding-bottom: 98px;
  //background-image: url("../../../assets/img/Group 358.png");
  //background-repeat: no-repeat;
  //background-position: left;
  @media screen and (max-width: 1250px){
  background: #FFFFFF;
  }
  @media screen and (max-width: 590px){
    padding-top:0;
    padding-bottom: 30px;
  }
  &__picture{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    @media screen and (max-width:900px){
     flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__img{
    @media screen and (max-width:1250px){
      width: 40%;
      height: 100%;
    }
    @media screen and (max-width:900px){
      width: 60%;

    }
    @media screen and (max-width:500px){
      width: 50%;

    }
  }
  &__tecnoclima {
    margin-top: 122px;
    @media screen and (max-width: 1200px){
      margin:0;
    }
    @media screen and (max-width:900px){
      text-align: center;
    }
    &__text{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 54px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #021C27;
      padding-bottom: 8px;
      @media screen and (max-width:900px){
        margin-top:30px;
      }
      @media screen and (max-width:500px){
       font-size: 32px;
      }
    }
  }
  &__tecnotext{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #021C27;
    padding-top:34px;
    width: 489px;
    @media screen and (max-width: 1300px){
      width: 400px;
    }
    @media screen and (max-width:900px){
      text-align: left;
    }
    @media screen and (max-width:500px){
      font-size: 15px;
    }
  }
  &__button{
    border: none;
    background: none;
    cursor: pointer;
  }
}


.italy-img{
  height: 720px;
  background-image: url("../../../assets/img/Mask Group.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  @media screen and (max-width:1200px){
   height: 570px;
  }
  @media screen and (max-width:1000px){
    height: 500px;
  }
  @media screen and (max-width:900px) {
    height: 440px;
  }
  @media screen and (max-width:700px) {
    height: 380px;
  }
  @media screen and (max-width:600px) {
    height: 320px;
  }
  @media screen and (max-width:500px) {
    height: 250px;
  }
  @media screen and (max-width:400px) {
    height: 220px;
  }
}
.italy-img p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
  position: absolute;
  right: 378px;
  bottom: 133px;
  @media screen and (max-width:900px) {
    right: 220px;
    bottom: 114px;
    font-size: 45px;
  }
  @media screen and (max-width:700px) {
    right: 80px;
    bottom: 30px;
    font-size: 40px;
  }
  @media screen and (max-width:500px) {
    right: 170px;
    bottom: 30px;
    font-size: 25px;
  }
}
.complex{
  background: linear-gradient(359.7deg, #EAF5FA 0.32%, rgba(240, 248, 252, 0) 46.83%);
  &__description{
   width:50%;
    position: relative;
    @media screen and (max-width:1160px){
      width:100%;
    }
    @media screen and (max-width:900px){
     text-align: center;
    }
  }
  &__flex{
    display: flex;
    padding: 93px 0;
    @media screen and (max-width:1160px){
    flex-wrap: wrap;
    }
    app-complex{
      width: 100%;
    }
  }
  &__title{
    mix-blend-mode: multiply;
    cursor: pointer;
    text-decoration: none;
    p{
      width: 400px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #021C27;
      @media screen and (max-width:1240px){
       font-size: 40px;
      }
      @media screen and (max-width:1160px){
       width: auto;
      }
      @media screen and (max-width:900px){
        margin-top:130px;
        padding-top:100px
      }

    }

    span{
      opacity: 0.15;
    }
  }
  &__click{
    background: #009FE3;
    border-radius: 5px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 15px 25px;
    margin-top: 40px;
    cursor: pointer;
    @media screen and (max-width: 1200px){
      margin-bottom: 100px;
    }
    &:hover{
      background: #021C27;
      border-radius: 4px;
      transition-duration: 0.5s;
    }
  }
  &__image{
    margin-top: 98px;
    @media screen and (max-width:1240px){
      width: 200px;
    }
    @media screen and (max-width:1160px){
      width: 300px;
      margin-top: 30px;
    }
    @media screen and (max-width:900px){
     top:0;
      right: 130px;
      position: absolute;
    }
  }
  &__types{
    width: 50%;
    @media screen and (max-width: 1380px){
    width: 70%;
    }
    @media screen and (max-width:1160px){
    width: 100%;
    }
    &__flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.application{
  &__blue__flag{
    position: fixed;
    bottom:0;
    right: 0;
  }
  &__tittle{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
    position: fixed;
    top: 80px;
    left: 112px;
  }
  &__text{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    color: #021C27;
    position: fixed;
    top: 155px;
    left: 112px;
  }
  &__form{
    &__name{
      position: fixed;
      top: 270px;
      left: 112px;

      label{
        position: fixed;
        top: 270px;
        left: 112px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
      }
      input{
        position: fixed;
        top: 297px;
        left: 112px;
        width: 488px;
        height: 50px;
        background: #FFFFFF;
        opacity: 0.6;
        border: 1px solid #C0C6C9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
      }
    }
    &__tel{
      position: fixed;
      top: 377px;
      left: 112px;
      label{
        position: fixed;
        top: 377px;
        left: 112px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
      }
      input{
        position: fixed;
        top: 405px;
        left: 112px;
        width: 488px;
        height: 50px;
        background: #FFFFFF;
        opacity: 0.6;
        border: 1px solid #C0C6C9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
      }
    }
    &__checkbox{

      input{
        position: fixed;
        top: 491px;
        left: 113px;
        background: #021C27;
        border-radius: 4px;
      }
      label{
        position: fixed;
        top: 485px;
        left: 137px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
        padding-left: 8px;
      }
    }
    &__button{
      position: fixed;
      top: 543px;
      left: 113px;
      cursor: pointer;
      background: #009FE3;
      border-radius: 5px;
      padding: 13px 24px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 120%;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      &:hover{
        background: #021C27;;
        border-radius: 4px;
        transition-duration: 0.5s;
        color: #FFFFFF;
      }
    }
  }
}
.airHeaters {
  display: flex;
  background-color: white;
  @media screen and (max-width: 1200px){
    align-items: center;
  }
  @media screen and (max-width: 650px){
   flex-wrap: wrap;
  }


  &__types {
    width: 303px;
    position: relative;
    margin-left: 120px;
    @media screen and (max-width: 1000px){
     margin-left:70px;
    }
     @media screen and (max-width: 650px){
       margin-left: 33px;
  }

  }

  &__type {
    padding-bottom: 123px;
    padding-top: 76px;
    @media screen and (max-width: 650px){
      padding-bottom: 25px;
    }
  }

  &__text {
    margin-top: 44px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: rgba(2, 28, 39, 0.3);
    @media screen and (max-width: 900px){
     font-size: 20px;
    }
    &:hover {
      border-right: 5px solid #E3061B;
      cursor: pointer;
      color: #021C27;
      transition-duration: 0.5s;
    }
  }
  &__picture {
    background-image: url("../../../assets/img/image 104 (2) (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    @media screen and (max-width: 1200px){
   background: #FFFFFF;
    }

    img {
      width: 520px;
      height: 520px;
      margin-top: 160px;
      margin-left: 100px;
      @media screen and (max-width: 1250px){
        width: 300px;
        height: 330px;
        margin:50px 25px;
      }
      @media screen and (max-width: 1000px){
        width: 200px;
        height: 230px;
      }
      @media screen and (max-width: 900px){
        width: 130px;
        height: 150px;
      }


    }
  }
  &__check {
    margin-top: 83px;
    padding-left: 93px;
    @media screen and (max-width: 1200px){
    padding:0;
    margin:0;
    }
    @media screen and (max-width: 650px){
      width: 89%;
      margin:auto;
     display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
    }
    div{
      width: 25%;
    }

    &__title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #021C27;
    margin-top:42px;
    margin-bottom:6px;
    @media screen and (max-width: 650px){
      font-size: 16px;
      margin-top:25px
    }
  }
    li{
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-top:12px
    }
    label {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 120%;
      letter-spacing: 0.2px;
      color: #021C27;
      @media screen and (max-width: 650px){
        font-size: 14px;
      }
    }
    input {
      opacity: 0.2;
      border: 1px solid #021C27;
      box-sizing: border-box;
      border-radius: 4px;
      width: 18px;
      height: 18px;
      margin-right:9px;
      @media screen and (max-width: 650px){
        width: 15px;
        height: 15px;
    }
    }
    &__click{
        background: #021C27;
        border-radius: 5px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 120%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        padding: 12px 20px 13px 25px;
        margin-top: 48px;
        cursor: pointer;
      @media screen and (max-width: 650px){
        padding: 6px 17px 6px 20px;
        font-size: 14px;
      margin-top: 135px;
      }

      &:hover{
        transition-duration: 0.5s;
        background-color: #009FE3;
      }
    }
  }
}
  .fermax {
    background-image: url("../../../assets/img/Mask Group (1).jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 720px;
    @media screen and (max-width:1200px) {
      height: 440px;
    }
    @media screen and (max-width:900px) {
      height: 380px;
    }
    @media screen and (max-width:700px) {
      height: 250px;
    }
    @media screen and (max-width:500px) {
      height: 200px;
    }
    &__text{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
      position: absolute;
      right: 323px;
      bottom: 133px;
      @media screen and (max-width:900px) {
        right: 220px;
        bottom: 114px;
        font-size: 45px;
      }
      @media screen and (max-width:700px) {
        right: 80px;
        bottom: 30px;
        font-size: 40px;
      }
      @media screen and (max-width:500px) {
        right: 50px;
        bottom: 30px;
        font-size: 30px;
      }

    }
  }
  .fullRange {
    background-color: #FFFFFF;
    padding-top: 80px;
    &__title {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 34px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #021C27;
      @media screen and (max-width: 500px){
     text-align: center;
        font-size: 20px;
      }
    }
    &__numbers {
      display: flex;
      justify-content: space-between;
      padding-top: 46px;
      padding-bottom: 75px;
      @media screen and (max-width: 1200px){
        flex-wrap: wrap;
      }
      @media screen and (max-width: 500px){
        background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
        border-radius: 20px;
        margin-top: 20px;
      }
      &__number {
        background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
        border-radius: 20px;
        width: 15.6%;
        cursor: pointer;
        &:hover{
          background: linear-gradient(90deg, #FBFEFF 0%, #d4f3ff 100%);
          border-radius: 20px;
          transition-duration: 0.5s;
        }
        @media screen and (max-width: 1200px){
          width: 30%;
          margin-top: 25px;
        }
        @media screen and (max-width: 900px){
          width:45%;
        }
        @media screen and (max-width: 500px){
          width: 50%;
          border-radius:0;
        background: none;
        }
        a{
          text-decoration: none;
        }
        &__text {
          padding: 40px 0 43px 38px;
          @media screen and (max-width: 900px){
            width: 144px;
          }
          @media screen and (max-width: 500px){
            padding: 20px;
            width: auto;
          }
        }
        &__day{
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 62px;
        line-height: 100%;
        letter-spacing: -0.15em;
        color: #009FE3;
        opacity: 0.1;
        border-bottom: 2px solid #009FE3;
        display: inline-block;
        padding-bottom: 13px;
        margin-bottom: 24px;
          @media screen and (max-width: 500px){
         font-size: 48px;
          }
      }
        &__description {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #021C27;
          width: 130px;
          @media screen and (max-width: 1200px){
            font-size: 20px;
          }
          @media screen and (max-width: 500px){
           font-size: 15px;
            width: 90%;
          }
          //@media screen and (max-width: 490px){
          //  width: 80%;
          //  margin: auto;
          //}


        }
      }
    }
  }
:host::ng-deep .footer .footer__image {
  display: block;
}

  .recuperative {
    background-color: #FFFFFF;
    &__type {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
      @media screen and (max-width: 1200px){
        flex-wrap: wrap;
      }
      &__title{
          margin-top:15px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 34px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: #021C27;
      }
      &__text{
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #021C27;
        margin-top:24px;
      }
  }
    &__logo{
      box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
      border-radius: 40px;
      display: inline-block;
      padding: 59px 50px 66px 70px;
      @media screen and (max-width: 650px){
       text-align: center;
      }
      &__radius{
        border-radius: 50%;
        background: #009FE3;
        width: 60px;
        height: 60px;
        @media screen and (max-width: 650px){
        margin: auto;
        }
       p{
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 21px;
          line-height: 120%;
          text-align: center;
          letter-spacing: -0.02em;
          color: #FFFFFF;
         padding-top: 17px;
        }
      }
    }
    &__type-two{
      padding-top: 46px;
      img{
        @media screen and (max-width: 900px){
          width: 600px;
          height: 285px;
        }
        @media screen and (max-width: 650px){
          width: 100%;
          height: 100%;
        }

      }
    }
  }

  .technological {
    background-color: #abd5e81a;
    padding: 60px 0;
  }

  .clients {
    background-color: white;
    padding-bottom: 80px;
    &__title {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #021C27;
      padding-top: 28px;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      &:hover{
        opacity: 0.7;
        transition-duration: 0.5s;
      }
    }
    &__flag {
      width: 100%;
    }
  }
  .press {
    background: linear-gradient(180deg, #abd5e836 0%, rgba(171, 213, 232, 0) 104.43%);
    &__title {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #021C27;
      margin-top: 100px;
      text-decoration: none;
      display: inline-block;
      &:hover{
        opacity: 0.7;
        transition-duration: 0.5s;
        cursor: pointer;
      }
    }
    &__text {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 34px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #021C27;
      padding-top: 70px;
      text-decoration: none;
      display: inline-block;
      &:hover{
        opacity: 0.7;
        transition-duration: 0.5s;
        cursor: pointer;
      }
    }
    &__images {
      background-image: url("../../../assets/img/Group 385.png");
      background-size: 100% 87%;
      background-repeat: no-repeat;
      background-position: top center;
      @media screen and(max-width:1200px){
        background: none;

      }
    }
  }
  .exhibitions{
  p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #021C27;
    padding-bottom: 36px;
    padding-top: 80px;
  }
  }
  .logos {
    background-color: white;
    &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 89px;
    padding-bottom: 110px;
      @media screen and (max-width: 900px){
      padding-top: 0;
      }

      }
    &__text{
      display: none;
      @media screen and (max-width: 900px){
        display: flex;
        justify-content: space-between;
        padding-top: 89px;
        p{
          width: 118px;
        }
        :last-child{
          text-align: right;
        }

      }

    }
    &__image {
        width: 204px;
        @media screen and (max-width: 900px){
          display: none;
        }
    }
    &__images{
      width: 204px;
      @media screen and (max-width: 900px){
        width: 8%;
      }
      img{
        @media screen and (max-width: 900px){
          width: 100%;
        }
      }

    }
    &__images-last {
      width: 204px;
      @media screen and(max-width:900px){
        width: 8%;
      }
      img{
        @media screen and (max-width: 900px){
          width: 100%;
        }
      }
    }
  }
  .slider{
    padding-bottom: 110px;
    position: relative;
    &__left{
      position: absolute;
      top:41%;
      left:42px;
      width: 48px;
      height: 48px;
    }
    &__right{
      position: absolute;
      top:41%;
      right:42px;
      width: 48px;
      height: 48px;
    }
  }
.slider-flex{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1200px){
    justify-content: center;
    margin-top: 50px;

  :last-child{
      display: none;
    }
  }
}

.carousel{
  display: none;
  @media screen and (max-width: 900px) {
    display: block;
  }
}



