
b{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.percent{
  margin-top: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.industrial{
  background-color: white;
  &__button{
    background: #009FE3;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor:pointer;
  }
}
.industrial-flex{
  width: 83%;
  margin: auto;
}

.industrial-block{
  display: flex;
  justify-content: space-between;

}

.industrial-text{
  width: 50%;
  margin-top: 70px;
}

.child1{
  border-bottom:1px solid #009FE3;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.5;
  margin-right: 20px;
  width: 160px;
  padding-top:15px;
}
.equipment{
  background-color: #FFFFFF;
  margin: 80px 0;
}
.info-block{
  display: flex;
  width: 800px;
}
.child3{
  display: flex;
  align-items: center
}
.child3 img{
  width: 16px;
  height: 20px;
}
.child3 p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.child4:nth-child(n+2){
  padding-left: 326px;
}
.child4 h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}

.flag{
  width:83%;
  margin: auto;
  display: flex;
}
.video-button{
  border: none;
  background: none;
  cursor: pointer;
}
.flag-block{
  background-color: #FFFFFF;

}

.textclima{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #021C27;
  padding-bottom: 8px;
}
.flag-block{
  background-color: #FFFFFF;
}
.flag-img{
  margin-right: 142px;
  margin-top: 82px;
  padding-bottom: 104px;
}
.tecnotext{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top:34px;
}
.tecnoclima-block {
  margin-top: 202px;

}
.italy-img{
  height: 720px;
  background-image: url("../../../assets/img/Mask Group.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.italy-img p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
  position: absolute;
  right: 378px;
  bottom: 133px;

}
.complex-block{
  display: flex;
  width: 83%;
  margin: auto;
  padding: 120px 0;
}
.complex-child p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  mix-blend-mode: multiply;
}
.complex-child span{
  opacity: 0.15;
}
.complex-child button{
  background: #009FE3;
  border-radius: 5px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 15px 25px;
  margin-top: 40px;
  cursor: pointer;
}
.complex-child img{
  margin-top: 98px;
}
.appcomplex{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.complex{
  background: linear-gradient(359.7deg, #EAF5FA 0.32%, rgba(240, 248, 252, 0) 46.83%);
  background-color: #FFFFFF;

}
.airHeaters p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.3;


}
.airHeaters-block{
  display: flex;
  background-color: white;
}
.airHeaters p:nth-child(n+2){
  padding-top: 44px;
}
.airHeaters h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;

  margin-top: 44px;
}
.airHeaters{
  width: 423px;
  position: relative;

}
.scroll{
  width: 5px;
  height: 61px;
  background: #E3061B;
  position: absolute;
  right: 0;
  top: 294px;
}
.airHeaters-text{

  padding-bottom: 123px;
  padding-left: 120px;
  padding-top: 120px;
}
.rectangle360{
  background:url("../../../assets/img/image 104 (2) (1).png") no-repeat;
  background-size: cover;
position: relative;
}

.rectangle360 img{
  width: 520px;
  height: 520px;
  margin-top: 160px;
  margin-left: 100px;

}
.fermax{
  background-image: url("../../../assets/img/Mask Group (1).jpg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  height: 720px;
}
.fermax p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
  position: absolute;
  right: 323px;
  bottom: 133px;
}
.full-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;

}
.global-fullRange{
  background-color: #FFFFFF;
}
.fullRange{
  width: 83%;
  margin: auto;
  padding-top: 80px;
  background-color: white;
}
.numbers-block{
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 75px;
}
.numbers{
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  border-radius: 20px;
  width: 15.6%;
}
.numbers-number{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: -0.15em;
  color: #009FE3;
  opacity: 0.1;
  border-bottom: 2px solid #009FE3;
  display: inline-block;
  padding-bottom: 13px;
  margin-bottom:24px
}
.numbers-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-bottom: 46px;

}
.num-text{
  margin-left:40px;
  margin-top:40px;
}
.check-block1  ul li {
  list-style-type: none;
}
.check-block2 ul li {
  list-style-type: none;
}
.check-block3  ul li {
  list-style-type: none;
}
.check-block2,  ul li label{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.check-block label{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-left: 9px;
}
.check-block p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;

}
.check-block input{
  opacity: 0.2;
  border: 1px solid #021C27;
  box-sizing: border-box;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  margin-top: 14px;
}
.check{
  margin-top:125px;
  padding-left: 93px;
}
.check-block p{
margin-bottom:18px
}
.check-block2{
  padding-top: 40px;
}
.check-block3{
  padding-top: 40px;
}
.check-click{
  background: #021C27;
  border-radius: 5px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 12px 20px 13px 25px;
  margin-top: 48px;
}
:host::ng-deep .footer .footer__image{
  display: block;

}
.recuperative-block{
  display: flex;
}
.recuperative{
  background-color: #FFFFFF;
  padding: 5px 70px 79px 37px;
}
.oem{
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
  border-radius: 40px;
  display: inline-block;
  margin-left: 82px;
}
.oem-flex{
  padding-left: 70px;
  padding-top: 59px;
}
.oem-flex h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 15px;
  padding-right: 150px;
}
.oem-p{
  padding-top: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-bottom: 66px;
  padding-right: 250px;
}
.oem-img p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  position: relative;
  bottom: 45px;
}
.oem-img{
  display: inline-block;
}
.oem-child{
  padding-top: 46px;
}

.technological{
  background-color: #abd5e81a;
  display: inline-block;
  padding-bottom: 60px;
}
.blue-flag {
  padding-left: 138px;
}
.clients{
  background-color: white;
}
.clients p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 28px;
  padding-left: 120px;
}
.logo-block{
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 159px;
  margin-right: 136px;
  margin-top: 63px;
}
.logo-child{
  width: 16.6%;

}
#logo-child-first{
  width: 16.6%;
  text-align: left;
}
#logo-child-last{
  width: 16.6%;
  text-align: right;
}
.blog-event{
  background: linear-gradient(180deg, #abd5e838 0%, rgba(171, 213, 232, 0) 100.12%);



}
.blog-event h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 100px;
  padding-left: 120px;
}
.blog-event p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 75px;
  padding-left: 120px;
}
