<app-header></app-header>

<div>

</div>
<div class="industrial">
  <div class="industrial-flex">
    <div class="industrial-block">
      <div class = 'industrial-text'>
        <b>Отапливайте промышленные помещения</b>
        <p class="percent">C выгодой до 30% в год<br>  с помощью воздушных теплогенераторов</p>
        <div style="margin-top:40px;">  <button>Оборудование</button></div>

      </div>
      <div>
        <img style="border-radius: 40px;" src="../../../../assets/img/Италия - Dezainer Oulet Barberino (2) 3.png">
      </div>
    </div>

    <div style="display: flex; justify-content: space-between">

      <div class="child1">Отопление
        промышленных  объектов</div>
      <div class="child1">Отопление
        сельско  хозяйственных помещений</div>
      <div class="child1">Отопление  и парогенерация  на буровых установках</div>
      <div class="child1">Отопление шахт  и рудников</div>
      <div class="child1">Генерация  горячего воздуха  для технологических процессов</div>
      <div class="child1">Крышные кондиционеры  типа rooftop</div>
    </div>
  </div>

</div>
<div class="equipment">
  <div class="equipment-flex">
    <p class="p1">Подберите свое оборудование<span> прямо сейчас</span></p>
    <div class="rectangle137">
      <div class="child2"></div>
      <div class="child2"></div>
      <div class="child2"></div>
    </div>

    <div class="calk" style="height: 50px">
      <div class="child4">
        <h6>Топливо</h6>
      </div>
      <div class="child4">
        <h6>Назначение</h6>
      </div>
      <div class="child4">
        <h6>Расположение</h6>
      </div>
    </div>
      <div class="line88"><img src=">../../../../assets/img/Line 88.png"></div>
<!--      <div class="info-block">-->
<!--        <div class="child3">-->
<!--          <img src="../../../../assets/icons/Group 178.png">-->
<!--          <p>Вы можете скачать опросный лист в виде файла и отправить его по электронной почте info@tcgroupenergia.ru</p>-->
<!--        </div>-->
<!--        <div class="child3">-->
<!--          <img src="../../../../assets/icons/Group 179.png">-->
<!--          <p>Скачать  опросный лист</p>-->
<!--        </div>-->
<!--      </div>-->

  </div>
    </div>

<div flag-block>
  <div class="flag">
    <img class= "flag-img" src="../../../../assets/img/Group 383.png">

    <div class="tecnoclima-block">
      <p class="textclima">
        Tecnoclima
      </p>
      <button class="video-button">
        <img src="../../../../assets/img/Group 559.png" alt="">
      </button>
      <p class="tecnotext">
        Группа компаний Tecnoclima более 40 лет работает в сфере воздушного отопления.
        Головной офис и прозводство находятся в городе Тренто, Италии.
        Основные компетенции компании: проектирование и производство оборудования для нагрева,
        вентиляции и кондиционирования воздуха.
      </p>
    </div>
  </div>
</div>
<div class="italy-img">
<p>Греем<br> воздух <br>  в соборах <br> Европы</p>
</div>

<app-complex></app-complex>


<app-footer> </app-footer>

