.home {
  &__complex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.industrial{
  background-color: white;
  padding-bottom: 80px;
  &__flex{
    display: flex;
    justify-content: space-between;
    background-image: url("../../../assets/img/Group 382 (1).png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 34px -184px;
  }
  &__text{
    width: 50%;
    margin-top: 70px;
   b{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -0.02em;
    }
  }
  &__button{
    background: #009FE3;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor:pointer;
    &:hover{
      background: #021C27;
      border-radius: 4px;
    }
  }
  &__percent{
    margin-top: 30px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #021C27;
  }
  &__img{
    position: relative;
    margin-top: 15px;
    padding-bottom: 50px;

    &__one{
      position: absolute;
      right:45px;
      top:40px
    }
    &__two{
      border-radius: 40px;
    }
  }
  &__types{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  &__heating{
    border-bottom:1px solid #009FE3;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #021C27;
    opacity: 0.5;
    margin-right: 20px;
    width: 146px;
    padding-bottom: 26px;
  }
  }

}
.child1:first-child{
  border-bottom:5px solid #009FE3;
}


.info-block{
  display: flex;
  width: 800px;
}
.child3{
  display: flex;
  align-items: center
}
.child3 img{
  width: 16px;
  height: 20px;
}
.child3 p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.child4:nth-child(n+2){
  padding-left: 326px;
}
.child4 h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}

.equipment{
  background-color: #FFFFFF;
}
.techno{
  background-color: #FFFFFF;
  padding-top: 82px;
  padding-bottom: 98px;
  background-image: url("../../../assets/img/Group 358.png");
  background-repeat: no-repeat;
  background-position: left;
  &__picture{
    display: flex;
    justify-content: space-between;
  }

  &__tecnoclima {
    margin-top: 122px;
    &__text{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 54px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #021C27;
      padding-bottom: 8px;
    }
  }
  &__tecnotext{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #021C27;
    padding-top:34px;
    width: 489px;
  }
  &__button{
    border: none;
    background: none;
    cursor: pointer;
  }
}


.italy-img{
  height: 720px;
  background-image: url("../../../assets/img/Mask Group.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.italy-img p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
  position: absolute;
  right: 378px;
  bottom: 133px;

}
.complex{
  background: linear-gradient(359.7deg, #EAF5FA 0.32%, rgba(240, 248, 252, 0) 46.83%);

  &__flex{
    display: flex;
    padding: 93px 0;
  }
  &__title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
    mix-blend-mode: multiply;
    width: 455px;
    cursor: pointer;
    text-decoration: none;
    span{
      opacity: 0.15;
    }
  }
  &__click{
    background: #009FE3;
    border-radius: 5px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 15px 25px;
    margin-top: 40px;
    cursor: pointer;
  }
  &__image{
    margin-top: 98px;
  }
  &__types{
    &__flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}

.application{
  &__blue__flag{
    position: fixed;
    bottom:0;
    right: 0;
  }
  &__tittle{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
    position: fixed;
    top: 80px;
    left: 112px;
  }
  &__text{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    color: #021C27;
    position: fixed;
    top: 155px;
    left: 112px;
  }
  &__form{
    &__name{
      position: fixed;
      top: 270px;
      left: 112px;

      label{
        position: fixed;
        top: 270px;
        left: 112px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
      }
      input{
        position: fixed;
        top: 297px;
        left: 112px;
        width: 488px;
        height: 50px;
        background: #FFFFFF;
        opacity: 0.6;
        border: 1px solid #C0C6C9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
      }
    }
    &__tel{
      position: fixed;
      top: 377px;
      left: 112px;
      label{
        position: fixed;
        top: 377px;
        left: 112px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
      }
      input{
        position: fixed;
        top: 405px;
        left: 112px;
        width: 488px;
        height: 50px;
        background: #FFFFFF;
        opacity: 0.6;
        border: 1px solid #C0C6C9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
      }
    }
    &__checkbox{

      input{
        position: fixed;
        top: 491px;
        left: 113px;
        background: #021C27;
        border-radius: 4px;
      }
      label{
        position: fixed;
        top: 485px;
        left: 137px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
        padding-left: 8px;
      }
    }
    &__button{
      position: fixed;
      top: 543px;
      left: 113px;
      cursor: pointer;
      background: #009FE3;
      border-radius: 5px;
      padding: 13px 24px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 120%;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
    }
  }
}
.airHeaters {
  display: flex;
  background-color: white;

  &__types {
    width: 303px;
    position: relative;
    margin-left: 120px;
  }

  &__type {
    padding-bottom: 123px;
    padding-top: 76px;
  }

  &__text {
    margin-top: 44px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: rgba(2, 28, 39, 0.3);

    &:hover {
      border-right: 5px solid #E3061B;
      cursor: pointer;
      color: #021C27;
    }
  }
  &__picture {
    background-image: url("../../../assets/img/image 104 (2) (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    img {
      width: 520px;
      height: 520px;
      margin-top: 160px;
      margin-left: 100px;
    }
  }
  &__check {
    margin-top: 83px;
    padding-left: 93px;
    &__title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #021C27;
    margin-top:42px;
    margin-bottom:6px
  }
    li{
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-top:12px
    }
    label {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 120%;
      letter-spacing: 0.2px;
      color: #021C27;
    }
    input {
      opacity: 0.2;
      border: 1px solid #021C27;
      box-sizing: border-box;
      border-radius: 4px;
      width: 18px;
      height: 18px;
      margin-right:9px
    }
    &__click{
        background: #021C27;
        border-radius: 5px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 120%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        padding: 12px 20px 13px 25px;
        margin-top: 48px;
        cursor: pointer;
    }
  }
}
  .fermax {
    background-image: url("../../../assets/img/Mask Group (1).jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 720px;
    &__text{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
      position: absolute;
      right: 323px;
      bottom: 133px;
    }
  }
  .fullRange {
    background-color: #FFFFFF;
    padding-top: 80px;
    &__title {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 34px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #021C27;
    }
    &__numbers {
      display: flex;
      justify-content: space-between;
      padding-top: 46px;
      padding-bottom: 75px;
      &__number {
        background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
        border-radius: 20px;
        width: 15.6%;
        cursor: pointer;
        &__text {
          padding: 40px 0 43px 38px;
        }
        &__day{
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 62px;
        line-height: 100%;
        letter-spacing: -0.15em;
        color: #009FE3;
        opacity: 0.1;
        border-bottom: 2px solid #009FE3;
        display: inline-block;
        padding-bottom: 13px;
        margin-bottom: 24px
      }
        &__description {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #021C27;
          width: 130px;
        }
      }
    }
  }
:host::ng-deep .footer .footer__image {
  display: block;
}
:host::ng-deep .slider__left{
  display:none;
}
:host::ng-deep .slider__right{
  display:none;
}
  .recuperative {
    background-color: #FFFFFF;
    &__type {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
      &__title{
          margin-top:15px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 34px;
          line-height: 110%;
          letter-spacing: -0.02em;
          color: #021C27;
      }
      &__text{
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #021C27;
        margin-top:24px;
      }
  }
    &__logo{
      box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
      border-radius: 40px;
      display: inline-block;
      padding: 59px 50px 66px 70px;
      &__radius{
        border-radius: 50%;
        background: #009FE3;
        width: 60px;
        height: 60px;
       p{
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 21px;
          line-height: 120%;
          text-align: center;
          letter-spacing: -0.02em;
          color: #FFFFFF;
         padding-top: 17px;
        }
      }
    }
    &__type-two{
      padding-top: 46px;
    }
  }

  .technological {
    background-color: #abd5e81a;
    padding: 60px 0;
  }

  .clients {
    background-color: white;
    &__title {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #021C27;
      padding-top: 28px;
    }
    &__flag {
      width: 100%;
    }
  }
  .press {
    background: linear-gradient(180deg, #abd5e836 0%, rgba(171, 213, 232, 0) 104.43%);
    &__title {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #021C27;
      padding-top: 100px;
    }
    &__text {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 34px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #021C27;
      padding-top: 70px;
    }
    &__images {
      background-image: url("../../../assets/img/Group 385.png");
      background-size: 100% 87%;
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
  .exhibitions{
  p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #021C27;
    padding-bottom: 36px;
    padding-top: 80px;
  }
  }
  .logos {
    background-color: white;
    &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 89px;
    padding-bottom: 110px;

    &__image {
      width: 204px;
    }
    &__images{
      width: 204px;
    }
    &__images-last {
      width: 204px;
    }
  }
  }
  .slider{
    padding-bottom: 110px;
  }
.slider-flex{
  display: flex;
  justify-content: space-between;
}


