b{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.percent{
  margin-top: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.industrial{
 background-color: white;
}
.industrial-flex{
  width: 83%;
  margin: auto;
}

.industrial-block{
  display: flex;
  justify-content: space-between;

}

.industrial-text{
  width: 50%;
  margin-top: 70px;
}
.industrial button{
  background: #009FE3;
  border-radius: 5px;
  padding: 15px 25px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;

}
.child1{
  border-bottom:1px solid #009FE3;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.5;
  margin-right: 20px;
  width: 160px;
  padding-top:15px;
}
.equipment{
  color: #FFFFFF;
}
.equipment-flex{
  width: 87.5%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.1);
  border-radius: 40px;

}
.p1{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 120%;
  padding: 56px 85px;
}
.p1 span {
  opacity: 0.5;
}
.rectangle137{
  width: 692px;
  height: 0.5px;
  border: 1px solid #ECEEEF;
  margin-left: 82px;
  display: flex;
  justify-content: space-between

}
.child2{
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  border: 5px solid #E3061B;
  box-sizing: border-box;
  border-radius: 9px;
  position: relative;
  bottom: 9px;
  z-index: 1000;
}
.line88{
  margin-left: 70px;
}
.info-block{
  display: flex;
 width: 800px;
}
.child3{
  display: flex;
  align-items: center
}
.child3 img{
  width: 16px;
  height: 20px;
}
.child3 p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.child4:nth-child(n+2){
  padding-left: 326px;
}
.child4 h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.calk{
  display: flex;

  margin-left: 78px;
  margin-top: 55px;

}
.child4 h6::before{
  content:url("../../../assets/icons/icon1.svg")
}
.flag{
  width:83%;
  margin: auto;
  display: flex;
}
.video-button{
  border: none;
  background: none;
}
.flag-block{
  background-color: #FFFFFF;
}

.textclima{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #021C27;
  padding-bottom: 8px;
}
.flag-img{
  margin-right: 142px;
  margin-top: 82px;
  padding-bottom: 104px;
}
.tecnotext{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top:34px;
}
.tecnoclima-block {
  margin-top: 202px;

}
.italy-img{
  height: 720px;
  background-image: url("../../../assets/img/Mask Group.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.italy-img p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 0px 5px 50px rgba(83, 120, 149, 0.4);
  position: absolute;
  right: 378px;
  bottom: 133px;

}
