<app-header></app-header>
<div class="seo-header">
  <div class="container">
    <ul class="seo-header__ul">
      <li class="seo-header__li">Главная</li>
      <li class="seo-header__li">></li>
      <li class="seo-header__li">Продукция</li>
      <li class="seo-header__li">></li>
      <li class="seo-header__li">Кондиционирование воздушное отопление в автосервисах</li>
    </ul>
  </div>
</div>

<div class="seo">
  <div class="container">
    <div class="seo__flex">
    <div>
        <h1 class="seo__h1 ">Кондиционеры <br> и воздушное <br> отопление <br> в автосалонах</h1>
        <p class="seo__text">Крышные кондиционеры (руфтопы) и теплогенераторы<br>
          Tecnoclima являются идеальным решением для полной<br>
          очистки воздуха и отопления в австосервисах.<br>
          Благодаря новейшим технологиям, нашейv<br>
          производственной гибкости, значительному опыту и<br>
          способности настраивать рабочие характеристики<br>
          продуктов в соответствии с потребностями системы<br>
          отопления / охлаждения, Tecnoclima может предложить<br>
          решение для любого запроса по отоплению и<br>
          кондиционированию объектов.</p>
        <button class="seo__button"  (click)="openConsultation()">Получить консультацию</button>
    </div>
    <div class="seo__img">
      <img src="../../../assets/seo/Mask Group (5).png" height="580" width="589"/></div>
    </div>
    <app-consultation
      [is-open]="!isConsultationOpen"
      (whenConsultationOpen)="openConsultation($event)"
      class="consultation"
    >
      <p class="consultation__tittle">Получить консультацию</p>
      <p class="consultation__text">Оставьте свое имя с номером телефона и наши <br> специалисты свяжутся с вами.</p>
      <form [formGroup]="form" class="consultation__form">
        <div class="consultation__form__name">
          <label for="userName">Ваше имя </label>
          <div><input formControlName="name" type="text" id="userName"></div>
        </div>

        <div class="consultation__form__tel">
          <label for="number">Телефон</label>
          <div><input type="tel" id="number" name="number" formControlName ="number"></div>
        </div>

        <div class="consultation__form__checkbox">
          <input type="checkbox"  id="check">
          <label for="check">Отправляя заявку, даю согласие на хранение <br>
            и обработку персональных данных</label>
        </div>
        <button [disabled]="form.invalid"  class="consultation__form__button">Отправить</button>
      </form>

      <div>
        <img src="../../../assets/img/image 125 (2) (1).png" class="consultation__blue__flag"/>
      </div>

    </app-consultation>

  </div>
</div>

 <div>
  <div class="container">
    <div class="dealership">
      <app-seo-filter>
        <button class="check-click">Показать</button>
      </app-seo-filter>

    <div class="dealerships__check2">
      <div>
        <p class="dealerships-child2-global-title">Воздухонагреватели <br> <span>для автосалонов</span> </p>
        <p class="dealerships-child2-global-text">
          Более 60 лет исследований и опыта в области промышленного тепловог <br>
          оборудования привели к разработке нескольких направлений продуктов,<br>
          которые на сегодняшний день включают более 300 моделей<br>
          высокоэффективных воздухонагревателей в соответствии с самыми строгими<br>
          европейскими и международными стандартами. Непрерывная эволюция<br>
          продуктов позволяет компании сохранять лидирующие позиции в области <br>
          отопления горячим воздухом.
        </p>
          <div class="dealerships-flex1">
            <div class="dealerships-flex1-child" *ngFor="let item of getList">
              <img src="{{item.img}}" alt="">
              <p class="dealerships-flex1-child-type">{{item.type}}</p>
              <p class="dealerships-flex1-child-title">{{item.title}}</p>
              <p class="dealerships-flex1-child-text">{{item.text}}</p>
            </div>
            <button>Все воздухонагреватели</button>
          </div>
      </div>
      <div>
        <p class="conditioners-global-title">Крышные кондиционеры roof top <br> <span> для автосалонов</span> </p>
        <p class="conditioners-global-text">
          На сегодняшний день включают более 300 моделей высокоэффективных<br>
          воздухонагревателей в соответствии с самыми строгими европейскими <br>
          и международными стандартами. Непрерывная эволюция продуктопродуктов <br>
          позволяет компании сохранять лидирующие позиции в области отопления <br>
          горячим воздухом.
        </p>
        <div class="conditioners-flex1">
          <div class="conditioners-flex1-child" *ngFor="let item of getList">
            <img src="{{item.img}}" alt="">
            <p class="conditioners-flex1-child-type">{{item.type}}</p>
            <p class="conditioners-flex1-child-title">{{item.title}}</p>
            <p class="conditioners-flex1-child-text">{{item.text}}</p>
          </div>
          <button>Все воздухонагреватели</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="flag">
  <div class="blue-flag">
    <img src="../../../assets/img/image 125 (1).png" >
  </div>
</div>
<div class="container">

</div>
<app-slider></app-slider>

<app-equipment></app-equipment>
<app-footer></app-footer>
