<div class="c"
[class.backShadow_show]="isOpenProps"
>
</div>
<div class="header" [class.header_show]="isOpenProps">
  <div class="menu" >
  <div class="container">
    <div class="menu__header">
    <div class="menu__flag">
      <img src="../../../../assets/img/flag.russia.png" alt="">
      <p>Русский</p>
    </div>
      <div class="menu__message">
        <p class="menu__text">Официальный представитель Tecnoclima в России и СНГ</p>
        <button class="menu__close" (click)="closeApplication()">X</button>
      </div>
    </div>
  </div>
</div>
<div class="type">
  <div class="container">
    <ul class="type__ul">
      <li><a href="">Продукция</a></li>
      <li><a href="">Оборудование для техпроцессов</a></li>
      <li><a href="">Примеры решений</a></li>
      <li><a href="">Услуги</a></li>
    </ul>
  </div>
</div>
<div class="types">
  <div class="container">
    <ul class="types__ul">
      <li><a href="">Почему мы лучшие</a></li>
      <li><a href="">Технология Dry System</a></li>
      <li><a href="">О компании</a></li>
      <li><a href="">Производство</a></li>
      <li><a href="">Сертификаты качества</a></li>
      <li><a href="">Стать партнером</a></li>
      <li><a href="">Пресс-центр</a></li>
      <li><a href="">Документация и файлы</a></li>
      <li><a href="">Поддержка</a></li>
      <li><a href="">Контакты</a></li>
    </ul>
    <button>Получить консультацию</button>
    <div class="contact">
      <ul class="contact__ul">
        <li><a href="tel:+7 495 104-70-77">+7 495 104-70-77</a></li>
        <li><a href="tel:+7 495 954-51-99"> +7 495 954-51-997</a></li>
        <li><a href="mailto:info@tcgroupenergia.ru">info@tcgroupenergia.ru</a></li>
      </ul>
      <a class="contact__position" href="">Центральный офис Technoclima в Москве
        ООО «TC Груп Энергия» Варшавское шоссе, д. 17, стр. 5 Москва, 11710 Россия</a>
    </div>
  </div>
</div>
  <ng-content></ng-content>
</div>


