<div class="solution-exampels-header">
  <div class="container">
    <h1 class="solution-exampels-header__title">Примеры решений</h1>
<!--    <ul class="solution-exampels-header__section">-->
<!--      <li>-->
<!--        <a href="">Воздушное отопление</a>-->
<!--        <a href="">Технологические процессы</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="">Все страны</a>-->
<!--        <a href="">Россия</a>-->
<!--        <a href="">Европа</a>-->
<!--        <a href="">Украина</a>-->
<!--        <a href="">Другие страны</a>-->
<!--      </li>-->
<!--    </ul>-->
<div class="solution-exampels-header__section">
  <ul>
    <li>Воздушное отопление</li>
    <li>Технологические процессы</li>
  </ul>

  <ul class="countries">
    <li>Все страны</li>
    <li>Россия</li>
    <li> Европа</li>
    <li>Украина</li>
    <li>Другие страны</li>
  </ul>
</div>

  </div>
</div>
