<div class="blue-fon">
  <div class="product-description-power">
    <p class="power-title">Тепловая мощность</p>
    <div class="power-flex">
      <div class="power-number">34</div>
      <span>-</span>
      <div class="powerVt"><p>54000</p><span>кВт</span></div>
    </div>
  </div>

  <div class="product-description-power2">
    <p class="power-title">Воздушный поток</p>
    <div class="power-flex">
      <div class="power-number2">300</div>
      <span>-</span>
      <div class="powerVt"><p>72000</p><span>м3/ч</span></div>
    </div>
  </div>
  <div class="fuel">
    <p class="fuel-title">Топливо</p>
    <ul>
      <li><input type="checkbox" id="uni" class="check"><label for="uni">Универсальное</label></li>
      <li><input type="checkbox" id="gas" class="check"><label for="gas">Газ</label></li>
      <li><input type="checkbox" id="liquid" class="check"><label for="liquid">Жидкое</label></li>
      <li><input type="checkbox" id="water" class="check"><label for="water">Вода</label></li>

    </ul>
  </div>

  <div class="fuel">
    <p class="fuel-title">Назначение</p>
    <ul>
      <li><input type="checkbox" id="heating" class="check"><label for="heating">Отопление</label></li>
      <li><input type="checkbox" id="cooling" class="check"><label for="cooling">Отопление и охлаждение</label></li>
      <li><input type="checkbox" id="requperation" class="check"><label for="requperation">Рекуперация тепла</label>
      </li>
    </ul>
  </div>

  <div class="fuel">
    <p class="fuel-title">Расположение</p>
    <ul>
      <li><input type="checkbox" id="premises" class="check"><label for="premises">Внутри помещения</label></li>
      <li><input type="checkbox" id="outside" class="check"><label for="outside">Снаружи помещения</label></li>
    </ul>
  </div>

  <div class="fuel">
    <p class="fuel-title">Отраслевые решения</p>
    <ul>
      <li><input type="checkbox" id="autosalon" class="check"><label for="autosalon">Автосалоны</label></li>
      <li><input type="checkbox" id="hangar" class="check"><label for="hangar">Ангары</label></li>
      <li><input type="checkbox" id="outlet" class="check"><label for="outlet">Аутлет-центры</label></li>
      <li><input type="checkbox" id="depot" class="check"><label for="depot">Депо</label></li>
      <li><input type="checkbox" id="complex" class="check"><label for="complex">Логистические комплексы</label></li>
      <li><input type="checkbox" id="office-center" class="check"><label for="office-center">Офисные центры</label></li>
      <li><input type="checkbox" id="production" class="check"><label for="production">Производство</label></li>
      <li><input type="checkbox" id="economy" class="check"><label for="economy">Сельское хозяйство</label></li>
      <li><input type="checkbox" id="sport-center" class="check"><label for="sport-center">Спортивные центры</label></li>
      <li><input type="checkbox" id="builder" class="check"><label for="builder">Строительство</label></li>
      <li><input type="checkbox" id="tenis" class="check"><label for="tenis">Теннисные корты</label></li>
      <li><input type="checkbox" id="shop" class="check"><label for="shop">Торговые центры</label></li>
      <li><input type="checkbox" id="church" class="check"><label for="church">Церкви</label></li>
      <li><input type="checkbox" id="mines" class="check"><label for="mines">Шахты</label></li>
      <li><input type="checkbox" id="schools" class="check"><label for="schools">Школы</label></li>
    </ul>
  </div>
  <button class="click-show">Показать</button>
</div>
