
<div>
  <app-seo-filter></app-seo-filter>
  <div class="fuel">
    <p class="fuel-title">Отраслевые решения</p>
    <ul>
      <li><input type="checkbox" id="autosalon" class="check"><label for="autosalon">Автосалоны</label></li>
      <li><input type="checkbox" id="hangar" class="check"><label for="hangar">Ангары</label></li>
      <li><input type="checkbox" id="outlet" class="check"><label for="outlet">Аутлет-центры</label></li>
      <li><input type="checkbox" id="depot" class="check"><label for="depot">Депо</label></li>
      <li><input type="checkbox" id="complex" class="check"><label for="complex">Логистические комплексы</label></li>
      <li><input type="checkbox" id="office-center" class="check"><label for="office-center">Офисные центры</label></li>
      <li><input type="checkbox" id="production" class="check"><label for="production">Производство</label></li>
      <li><input type="checkbox" id="economy" class="check"><label for="economy">Сельское хозяйство</label></li>
      <li><input type="checkbox" id="sport-center" class="check"><label for="sport-center">Спортивные центры</label></li>
      <li><input type="checkbox" id="builder" class="check"><label for="builder">Строительство</label></li>
      <li><input type="checkbox" id="tenis" class="check"><label for="tenis">Теннисные корты</label></li>
      <li><input type="checkbox" id="shop" class="check"><label for="shop">Торговые центры</label></li>
      <li><input type="checkbox" id="church" class="check"><label for="church">Церкви</label></li>
      <li><input type="checkbox" id="mines" class="check"><label for="mines">Шахты</label></li>
      <li><input type="checkbox" id="schools" class="check"><label for="schools">Школы</label></li>
    </ul>
  </div>
  <button class="click-show">Показать</button>
</div>
