.overlay {
  position: fixed;
  height: 100vh;
  z-index: 997;
  background-color: rgba(0, 0, 0, .2);
  top: 0;
  left: 0;
  width: 100%;
  display: none;

  &_show {
    display: block;
  }
}

.modal {
  position: fixed;
  background-color: #FFFFFF;
  z-index: 998;
  box-shadow: 0 40px 80px rgba(2, 26, 36, 0.2);
  border-radius: 40px;
  width:843px ;
  //min-width: 843px;
  //max-width: 1000px;
  //min-height:620px;
  //max-height: 700px;
  height: 700px;
  padding: 60px 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;


  &_show {
    display: block;
  }
}
