<!--<div>Some tags before</div>-->
<!--<owl-carousel-o [options]="customOptions">-->
<!--  <ng-template carouselSlide>Slide 1</ng-template>-->
<!--  <ng-template carouselSlide>Slide 2</ng-template>-->
<!--  <ng-template carouselSlide>Slide 3</ng-template>-->
<!--</owl-carousel-o>-->
<!--<div>Some tags after</div>-->

<!--"./node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css",-->
<!--"./node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css",-->
<!--"./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",-->
<!--"src/styles.scss",-->
<!--"node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css"-->

<!--"ngx-owl-carousel-o": "^7.0.1",-->
