.rout-link {
  width: 80%;
  margin: auto;
  &__nav {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #C0C6C9;
  }
}

