<div class="dealership-check">
  <div class="dealership-check__block">
    <p class="dealership-check__title">Топливо</p>
    <ul>
      <li class="dealership-check__li">
        <input type="checkbox" id="check-one">
        <label for="check-one">Универсальное</label>
      </li>
      <li class="dealership-check__li">
        <input type="checkbox" id="check-two">
        <label for="check-two">Газ</label></li>
      <li class="dealership-check__li">
        <input type="checkbox" id="check-three">
        <label for="check-three">Жидкое</label>
      </li>
      <li class="dealership-check__li">
        <input type="checkbox" id="check-four">
        <label for="check-four">Вода</label>
      </li>
    </ul>
  </div>
  <div class="dealership-check__block2">
    <p class="dealership-check__title">Назначение</p>
    <ul>
      <li class="dealership-check__li"><input type="checkbox" id="check-one1">
        <label for="check-one1">Отопление</label></li>
      <li class="dealership-check__li"><input type="checkbox" id="check-two1">
        <label for="check-two1">Отопление и охлаждение</label></li>
      <li class="dealership-check__li"><input type="checkbox" id="check-three1">
        <label for="check-three1">Рекуперация тепла</label></li>
    </ul>
  </div>
  <div class="dealership-check__block2">
    <p class="dealership-check__title">Расположение</p>
    <ul>
      <li class="dealership-check__li"><input type="checkbox" id="check-one2">
        <label for="check-one2">Внутри помещения</label></li>
      <li class="dealership-check__li"><input type="checkbox" id="check-two2">
        <label for="check-two2">Снаружи помещения</label></li>
    </ul>
  </div>

 <ng-content></ng-content>
</div>
