<div class="logo">
  <div class="logo__image-first"><img src="../../../assets/img/Vector (2).png" alt="no image"></div>
  <div class="logo__border"></div>
  <div class="logo__image"><img src="../../../assets/img/Group 289.png" alt="no image"></div>
  <div class="logo__border"></div>
  <div class="logo__image"><img src="../../../assets/img/Group 290.png" alt="no image"></div>
  <div class="logo__border"></div>
  <div class="logo__image"><img src="../../../assets/img/Group (1).png" alt="no image"></div>
  <div class="logo__border"></div>
  <div class="logo__image"><img src="../../../assets/img/Group 291.png" alt="no image"></div>
  <div class="logo__border"></div>
  <div class="logo__image-last"><img src="../../../assets/img/Алмазная шахта Мир.png" alt="no image"></div>
</div>
