<div class="logo-block">
  <div id="logo-child-first"><img src="../../../assets/img/Vector (2).png" alt="no image"></div>
  <div class="logo-border"></div>
  <div class="logo-child"><img src="../../../assets/img/Group 289.png" alt="no image"></div>
  <div class="logo-border"></div>
  <div class="logo-child"><img src="../../../assets/img/Group 290.png" alt="no image"></div>
  <div class="logo-border"></div>
  <div class="logo-child"><img src="../../../assets/img/Group (1).png" alt="no image"></div>
  <div class="logo-border"></div>
  <div class="logo-child"><img src="../../../assets/img/Group 291.png" alt="no image"></div>
  <div class="logo-border"></div>
  <div id="logo-child-last"><img src="../../../assets/img/Алмазная шахта Мир.png" alt="no image"></div>
</div>
