.logo{
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 63px;
  justify-content: space-between;
  @media screen and (max-width:1100px) {

  }
  @media screen and (max-width:900px) {
  flex-wrap: wrap;
  }
  &__border{
  height: 50px;
  border-left: 1px solid #C0C6C9;
  opacity: 0.5;
    @media screen and (max-width:1000px) {
      display: none;
    }
}
  &__image{
   width: 204px;
    text-align: center;
    @media screen and (max-width:1100px) {
    width: 10%;
    }
    img{
      @media screen and (max-width:1100px) {
        width:auto;
      }
      @media screen and (max-width:500px) {
        width:79%;
      }
    }
    &:hover{
      opacity: 0.7;
      transition-duration: 0.5s;
      cursor: pointer;
    }
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition-duration: 0.5s;
    }
    @media screen and (max-width:900px) {
      width:30%;
      margin-top: 25px;
    }
 }
  &__image-first{
    width: 204px;
    &:hover{
      opacity: 0.7;
      transition-duration: 0.5s;
    }
  }
  &__image-last{
     width: 204px;
    &:hover{
      opacity: 0.7;
      transition-duration: 0.5s;
      cursor: pointer;
    }
   }
}




