.logo{
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 63px;
  justify-content: space-between;
  &__border{
  height: 50px;
  border-left: 1px solid #C0C6C9;
  opacity: 0.5;
}
  &__image{
   width: 204px;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition-duration: 0.5s;
    }
 }
}




