.product{
background: #FFFFFF;
}
.product-container{
  width:83%;
  margin:auto;
}
.menu-list{
  opacity: 0.3;
  border-bottom: 1px solid #C0C6C9;
}
.menu{
  display: flex;
  margin-bottom: 16px;
}
.menu li{
  list-style-type: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
  padding-right: 9px;
}

.product-description{
  background-color: #FFFFFF;

}
.product-description-container {
  width:83%;
  margin:auto;
}
.product-description-flex{
  display:flex;
}
.techno-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 180px;
}
.techno-block{
  padding:35px 15px 43px 15px;
  margin-right:21px
}
.techno-img{
margin:0 46px;
}
.techno-description{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #021C27;
  width:255px;
  margin:auto;
}
.bbb{
  display: flex;
  padding-top: 180px;
}
.seria{
  margin-right:20px;
  line-height: 24px;

}
.seria p{
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.4;
  line-height:14px;
  padding-bottom: 26px;
}
.technological{
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  padding: 60px 0;
}
.blue-flag{
  padding-left: 138px;
}
.showAll{
  background-color: #FFFFFF;
}
.showAll-block{
  width: 83%;
  margin: auto;
}
.systemOne{
  display: flex;
}
.system{
  display: flex;
  justify-content: space-between;
}
.system-description{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.6;
}
.click-all{
  background: rgba(0, 159, 227, 0.1);
  border-radius: 5px;
  border:none;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #009FE3;
  padding:11px 50px;
  width: 100%;
  margin:40px 0 60px 0;

}
