.login{
  padding:150px 0;
  background: linear-gradient(90deg, #E6F5FC 0%, #FCE6E8 100%);

  &__title{
    text-align: center;
    font-size: 30px;
    font-family: 'Sansita Swashed', cursive;
  }
  &__type{
    display: flex;
    flex-direction: column;
    margin-top:40px;
  }
}
form{
  padding:50px;
  margin-left:40%;
  width:400px;
  height: auto;
  background-color: white;
  border-radius: 25px;
}
input{
  padding:5px;
  width: 100%;
  margin-top:10px;
  border-radius: 8px;
  border:2px solid #80808030;
}
button{
  padding:6px 10px;
  font-size: 16px;
  width: 100%;
  margin-top:40px;
  background: linear-gradient(90deg, #E6F5FC 0%, #FCE6E8 100%);
  border:none;
  border-radius: 8px;
  font-weight: 600;
  &:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background: #f6b2e8;
  }
}
