// Colors
$black: #021C27;
$white: #ffffff;
$gray: #C0C6C9;
$light: #EFF3F5;
$light2: #F5F8F9;
$red: #E3061B;
$blue:#009FE3;

// Font Size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 26px;
$text-4xl: 28px;
$text-5xl: 30px;

//Font Weight
$font-lighter: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

// Border Radius
$radius-sm: 5px;
$radius-base: 8px;
$radius-lg: 10px;
$radius-circle: 50%;

// Opacity
$opacity: 0.3;

// Box Shadow

