<app-header> </app-header>


<div class="seo-header">
  <div class="container">
    <ul class="seo-header__ul">
      <li class="seo-header__li">Главная</li>
      <li class="seo-header__li">></li>
      <li class="seo-header__li">О компании</li>
    </ul>
  </div>

</div>

<div class="about-company">
  <div class="container">
    <div class="about-company__flex">
    <div class="about-company__title">
      <h1>О компании</h1>
      <p>Сегодня воздушное отопление применяется
        для отопления производственных и складских помещений,
        торговых центров, спортивных объектов, ангаров,
        тентовых конструкций, шахт и буровых установок,
        чему способствует множество преимуществ данного
        вида отопления перед водяным.</p>
    </div>
      <div class="about-company__img">
        <img src="../../../assets/img/Mask Group (6).png" >
      </div>

    </div>


  </div>
</div>
<app-news-child></app-news-child>

<div class="company">
  <div class="container">

  </div>
</div>

<app-advantages></app-advantages>

<app-footer></app-footer>
