<app-header></app-header>
<div class="product">
  <div class="product-container">
    <div class="menu-list">
      <ul class="menu">
        <li>Главная</li>
        <li> ></li>
        <li> Продукция</li>
      </ul>

    </div>

    <div class="product-title">
      <p>Продукция</p>
    </div>
  </div>
</div>

<div class="product-description">
  <div class="product-description-flex">
<!--    <app-product-check></app-product-check>-->

    <div class="techno-flex">
      <div *ngFor="let item of technoImg" class="techno-block">
        <img src="{{item.img}}" alt="no image" class="techno-img">
        <p class="techno-description">{{item.description}}</p>
      </div>
    </div>
    <div class="bbb">
      <div class="seria">
        <p class="p1">A<br>
          AGRI-C<br>
          AGRI-DF<br>
          AGRI-P<br>
          AQUACIKKI<br>
          AQUAPIGGY<br>
          AZN<br>
          AZN EC<br>
          AZN-X<br>
        </p>
        <p>
          B<br>
          BA PLUS<br>
          BOXY </p>

        <p> C<br>
          CF-CM/P<br>
          CF-GAS<br>
          CF-GAS SP<br>
          CF-GAS/P<br>
          CF-XTRIM<br>
          CMX</p>

        <p> D<br>
          DAE<br>
          DGK<br>
          DGP<br>
          DGS<br>
          DM<br>
          DM-SE<br>
          DST<br>
          DUO-MO</p>

        <p> E<br>
          EKOCIKKI<br>
          EKOCIKKI 80<br>
          ENERGY<br>
          ENERGY-O<br>
          ENERGY-O/K<br>
          ENERGY/K</p>

        <p> H<br>
          HB PLUS</p>

        <p>K<br>
          KLIMAXS<br>
          KUBO-S<br>
        </p>
        <p> M<br>
          M-CF<br>
          MB UNIT<br>
          MINIJET<br>
          MIXI 80<br>
          MIXIJET<br>
        </p>
      </div>


      <div class="seria">
        <p>A <br>
          AGRI-C<br>
          AGRI-DF<br>
          AGRI-P<br>
          AQUACIKKI<br>
          AQUAPIGGY<br>
          AZN<br>
          AZN EC<br>
          AZN-X</p>

        <p> B<br>
          BA PLUS<br>
          BOXY</p>

        <p> C<br>
          CF-CM/P<br>
          CF-GAS<br>
          CF-GAS SP<br>
          CF-GAS/P<br>
          CF-XTRIM<br>
          CMX</p>

        <p> D<br>
          DAE<br>
          DGK<br>
          DGP<br>
          DGS<br>
          DM<br>
          DM-SE<br>
          DST<br>
          DUO-MO</p>

        <p> E<br>
          EKOCIKKI<br>
          EKOCIKKI 80<br>
          ENERGY<br>
          ENERGY-O<br>
          ENERGY-O/K<br>
          ENERGY/K<br>
        </p>

        <p> H<br>
          HB PLUS</p>

        <p> K<br>
          KLIMAXS<br>
          KUBO-S</p>

        <p> M<br>
          M-CF<br>
          MB UNIT<br>
          MINIJET<br>
          MIXI 80<br>
          MIXIJET</p>
      </div>
    </div>
  </div>
</div>
<div class="technological">
  <app-technological></app-technological>
</div>
<img class="blue-flag" src="../../../assets/img/image 125 (1).png" alt="">
<div class="showAll">
  <div class="showAll-block">
    <div>

      <div class="system">
        <div *ngFor="let i of systemThree" class="systemOne">
          <p>{{i.plus}}</p>
          <p>{{i.description}}</p>
        </div>
      </div>


<!--      <div class="system">-->
<!--        <app-system-product-->
<!--          *ngFor="let i of systemFour"-->
<!--          [text]="i.description"-->
<!--        >-->
<!--        </app-system-product>-->
<!--      </div>-->
    </div>
    <button class="click-all">Показать все</button>
  </div>

</div>


<app-footer></app-footer>
