.seo-header{
  &__ul{
    display: flex;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom:  1px solid #C0C6C9;
    max-width: 532px;
  }
  &__li{
    list-style-type: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #C0C6C9;
  }
  &__li:nth-child(n+2){
    padding-left: 12px;
  }
}
.company {
  background-color: white;
&__image{
  img{
    width: 100%;
    height: 100%;
  }
}
  @media screen and (max-width:500px) {
    display: none;
  }
}
.about-company{
  &__flex{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:780px) {
     flex-wrap: wrap;
    }
  }
  &__title{
    h1{
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #021C27;
      padding-top: 30px;
      padding-bottom: 66px;
      @media screen and (max-width:1100px) {
        font-size: 60px;
      }
      @media screen and (max-width:900px) {
        font-size: 50px;
      }
      @media screen and (max-width:780px) {
       width: 100%;
      }
      @media screen and (max-width:375px) {
        padding: 18px 0 30px 0;
        font-size: 32px;
        text-align: center;
      }
    }
    p{
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 140%;
      letter-spacing: 0.2px;
      color: #000000;
      padding-bottom: 312px;
      width: 530px;
      @media screen and (max-width:1400px) {
        padding-bottom: 100px;
      }
      @media screen and (max-width:1400px) {
        padding-bottom: 160px;
      }
      @media screen and (max-width:1100px) {
       font-size: 17px;
      }
      @media screen and (max-width:1000px) {
        width: 400px;
      }
      @media screen and (max-width:902px) {
        width: 450px;
        padding-right: 12px;
      }
      @media screen and (max-width:780px) {
        width:95%;
        padding: 0;
      }
      @media screen and (max-width:375px) {
        font-size: 15px;
        width: 335px;
      }
    }
  }
  &__img{
    background: linear-gradient(90deg, #abd5e840 0%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    width: 38%;
    @media screen and (max-width:1100px) {
        background: none;
    }
    @media screen and (max-width:860px) {
      width: auto;
    }
     img{
       position: absolute;
       top: -46px;
       right: 0;
       @media screen and (max-width:1400px) {
         width: 400px;
         left: -40px;
       }
       @media screen and (max-width:1100px) {
       margin-top: 50px;
         width: 100%;
         position: static;
       }
       @media screen and (max-width:850px) {
       margin-top: 30px;
       }
     }
     }
   }
:host::ng-deep .footer .footer__image{
  display: block;
}




