

    <div class="admin-header" >
      <img routerLink="/admin" src="../../../../assets/img/Group 120.png" alt="no image" >
      <ul class="admin-header__ul">
        <li><a >complex</a></li>
      <li><a routerLink="press-block">heating</a></li>
        <li><a >events</a></li>
        <li><a >show</a></li>
        <li><a >showTwo</a></li>
        <li><a >showThree</a></li>
        <li><a >services</a></li>
        <li><a >complexService</a></li>
        <li><a >processOne</a></li>
        <li><a >processTwo</a></li>
        <li><a >processThree</a></li>
        <li><a >contacts</a></li>
        <li><a >contacts2</a></li>
        <li><a >contacts3</a></li>
        <li><a >download</a></li>
        <li><a >slider</a></li>
        <li><a >technoImg</a></li>
        <li><a >system</a></li>
        <li><a >highlyEfficientImages</a></li>
      </ul>
    </div>
