<app-header></app-header>
<div>
  <div class="header-flex-ul">
    <ul>
      <li>Главная</li>
      <li>></li>
      <li>Продукция</li>
      <li>></li>
      <li>Воздухонагреватели</li>
    </ul>
  </div>
</div>
<div>
  <div class="highlyEfficient">
      <div class="highlyEfficient-child1">
          <h6>TC-DF</h6>
          <div class="highlyEfficient-child1-imegis">
            <div><img src="../../../../assets/img/image 11.png" alt=""></div>
            <div><img src="../../../../assets/img/image 29.png" alt=""></div>
            <div><img src="../../../../assets/img/image 30.png" alt=""></div>
            <div><img src="../../../../assets/img/image 31.png" alt=""></div>
            <div class="treeimg"><img  src="../../../../assets/img/+3.png" alt=""></div>
          </div>
        <img class="highlyEfficient-child1-img" src="../../../../assets/img/image 2.png" alt=""></div>

    <div class="highlyEfficient-child2">
        <p class="highlyEfficient-child2-text">Высокоэффективные вертикальные воздушные обогреватели
          с выходом воздуха вниз (Down Flow) для специального применения.<br><br>
          Высокоэффективный воздухонагреватель. Вертикальная версия серии TC
          Down Flow с газовой или дизельной горелкой обеспечивает подачу теплого воздуха в основном в
          тепличные конструкции, а также во всех случаях, когда требуется диффузия через
          воздухораспределительное устройство.
        </p>
      <div class="highlyEfficient-child2-textBlock">
        <div class="highlyEfficient-child2-textBlock-child1">
          <p>Назначение</p>
          <p>Топливо</p>
          <p>Тепловая мощность</p>
          <p>Воздушный поток</p>
        </div>
        <div class="highlyEfficient-child2-textBlock-child2">
          <p>отопление</p>
          <p>газ, дизель</p>
          <p>160-770 кВт</p>
          <p>10600-50000 м3/ч</p>
        </div>

      </div>
      <button>Получить консультацию</button>
    </div>

  </div>
  <div class="highlyEfficient-menu">
    <div class="highlyEfficient-menu-child"><p>Описание</p></div>
    <div class="highlyEfficient-menu-child"><p>Конструкция</p></div>
    <div class="highlyEfficient-menu-child"><p>Технические характеристики</p></div>
    <div class="highlyEfficient-menu-child"><p>Документы и файлы</p></div>
    <div class="highlyEfficient-menu-child"><p>Аксессуары</p></div>
  </div>
</div>



<div class="application">
  <div class="application-container">
    <div>
      <p class="application-title">Применение</p>
      <p class="application-text">Воздухонагреватели TC-DF являются универсальными и
        подходят для обогрева практически любых помещений, а также нагрева свежего
        наружного воздуха в системах приточной вентиляции.</p>
    </div>

    <div class="app-flex">
      <div *ngFor="let item of getair" class="descripton-img-text">
        <img src="{{item.img}}" alt="" class="descriptiom-img">
        <p class="descriptiom-text">{{item.text}}</p>
      </div>
    </div>
  </div>
</div>

<div class="heat-section">
  <div class="heat-container">
    <div>
      <p class="heat-title">Достоинства и преимущества оборудования Tecnoclima</p>
     <p class="heat-little-title">Стационарные теплогенераторы TC и секции нагрева SR</p>
    </div>
    <div class="heat-flex">
      <app-full-range *ngFor="let heat of heats"
      [heatText]="heat.heatText"
      [heatNumber]="heat.id"

      ></app-full-range>
    </div>
  </div>
</div>

<div class="air">
  <div class="air-container">
    <div class="air-title-air">
      <p class="air-litle-title">Воздухонагреватель</p>
      <p class="air-title">Tecnoclima TC-DF</p>
    </div>

    <div class="tecnoclima-tc">
        <p class="tech-description-text">Оборудование состоит в основном из изолированного шкафа,
          принимающего поток воздуха, создаваемый группой вентиляторов.
          Шкаф содержит высокоэффективный теплообменник INOX из нержавеющей
          стали, который передает тепловую мощность посредством прямого обмена
          между продуктами сгорания и потоком обрабатываемого воздуха.
          Такой воздух нагревается при прохождении по горячей поверхности теплообменника,
          а затем распределяется по предпосылки. Нагреватель теплого воздуха, если он соединен
          с главными рукавами с вторичными ответвительными рукавами, позволяет нагревать только
          чувствительные части растения, такие как корни и листья, создавая своего рода «капельный
          нагрев» через устройство распределения воздуха к земле, предоставляя глобальное энергосбережение.
          Характеристики центробежного вентилятора делают оборудование пригодным для установки там,
          где воздух должен распределяться по трубопроводам, или, в более общем случае, там, где
          требуется высокое статическое давление. Нагреватель теплого воздуха укомплектован электрическим
          устройством для управления функциями нагревателя, а определенный фланец (как на выходе, так и на входе)
          позволяет подключать оборудование к трубопроводам. </p>

        <p class="tech-description-text2">По запросу доступны все модели для работы с двухступенчатыми или модулирующими
          горелками для полного контроля температуры теплицы. Это позволяет достичь
          максимальной глобальной эффективности установки.</p>


    </div>
  </div>
</div>

    <div class="tecnologia">
      <div class="tecnologia-container">
        <div class="tecnologia-flex">
          <div class="dry-system">
            <div class="green-ellipse">КПД <br> <span>до</span>
              108%</div>
            <p class="dry-system-title">Технология Dry System Tecnoclima</p>
            <p class="dry-system-text">Прямая передача энергии <br> в помещение, без использования <br> теплоносителя.</p>

          </div>

          <div class="air-dry">
            <img src="../../../../assets/air-heaters/air-system.png" alt="no image">

          </div>

        </div>

        <div class="air-heater-greenHouse">
          <div class="green-num">
            <ol>
              <li>Широкая гамма мощностей от 60 до 1160 кВт;</li>
               <li>Расход воздуха – от 4300 до 70000 нм3/ч;</li>
               <li> Степень нагрева – от 40 до 60°С;</li>
               <li>Максимальное статическое давление (станд. исп.) – до 220 Па;</li>
               <li>Максимальное статическое давление («S» версия) – до 450 Па;</li>
               <li>Эффективность (КПД) – до 90%;</li>
               <li> Для прямой подачи воздуха в помещение или для работы с системой воздуховодов;</li>
               <li>Работают как с газовой, так и с жидкотопливной горелкой; одно-, двухступенчатой или с плавным регулированием мощности;</li>
               <li> Камера сгорания из жаропрочной нержавеющей стали AISI 430;</li>
                <li>Эл. система контроля, интеллектуальная система управления;</li>
               <li>Прочный корпус рамной конструкции со звуко-  и теплоизолированными панелями;</li>
               <li>Используются малошумные центробежные вентиляторы двухстороннего всасывания с клиноременной передачей;</li>
               <li>Конвективная часть теплообменника из нержавеющей стали;</li>
              <li>Доступны также исполнения: с низким NOx, с изменяемым расходом воздуха, с высоким напором воздуха, версия с конденсацией.</li>
            </ol>
          </div>

          <div>
            <img src="../../../../assets/air-heaters/greenhouse2.png" alt="no image">
            <p class="green-description">Применение воздухонагревателя TC-DF для отопления теплицы</p>
          </div>

        </div>


      </div>
    </div>

<app-equipment></app-equipment>
<app-equipment-series></app-equipment-series>
<div class="airHeaters-slider">

  <div class="airHeaters-slider-title">
    <div class="airHeaters-slider-title-container">
      <p>Примеры решений</p>
    </div>

  </div>

  <app-slider></app-slider>
</div>

<app-footer></app-footer>
