
.header-ul {
  display: flex;
  border-bottom: 1px solid;
  padding-top: 40px;
  color: #C0C6C9;
  padding-bottom: 20px;
}
.header-ul li{
  list-style-type: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
  margin-right:10px;
}
.applicationss{
  background:white;
}
.applicationss-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
}
.applicationss-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  margin-top:34px;
  margin-bottom: 20px;
  max-width: 590px;
  @media screen and (max-width: 490px){
    width: 100%;
    font-size: 15px;
  }
}
.app-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.description-img-text{
  width: 32.4%;
  @media screen and (max-width: 1390px){
    width: 30%;
  }
  @media screen and (max-width: 998px){
    width: 40%;
  }
  @media screen and (max-width: 490px){
    width: 48%;
  }
}
.description-img{
  margin-bottom:24px;
  width: 100%;
}
.description-text{
 padding-bottom: 60px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  @media screen and (max-width: 490px){
    width: 158px;
    font-size: 12px;
  }
}
.air-container{
width: 83%;
  margin:auto;
}
.airHeaters-slider{
  position:relative;
}
.air-title-air{
padding-bottom: 34px;
}
.air-litle-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-bottom: 7px;
  padding-top: 80px;
}
.air-title1{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #021C27;
}
.tecnoclima-tc{
  position: relative;
  padding-bottom: 97px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.tech-description-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  width: 49.4%;
}
.tech-description-text2{
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  width: 32.30%;
}
.tecnologia{
background:white;
}
.tecnologia-container{
  width:83%;
  margin:auto;
}
.tecnologia-flex{
  display: flex;
  justify-content: space-between;
  padding-bottom: 99px;
}
.green-ellipse{
  width:60px;
  height: 60px;
  background-color: #43B77A;
  border-radius: 50%;
  font-weight: 800;
  font-size: 12px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 12px;
}
.dry-system{
  padding: 59px 45px 69px 70px;
  margin-right: 75px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(2, 26, 36, 0.04);
  border-radius: 40px;
  @media screen and (max-width: 1200px){
    padding: 35px 22px 35px 22px;
    margin-right: 10px;
  }
}
.dry-system-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #021C27;
  margin-top:15px;
}
.dry-system-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  margin-top:24px;
  width: 380px;
}
.air-dry{
padding-top:25px;
  margin-right: 46px;
  img{
    @media screen and (max-width: 950px){
     width: 260px;
    }
  }
}
.air-heater-greenHouse{
  display: flex;
  justify-content: space-between;
}
ol{
  width: 550px;
  @media screen and (max-width: 1200px){
    width: 450px;
  }
}
ol li {
    padding-bottom: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #021C27;
}
.airHeaters-slider-title-container{
width: 83%;
margin: auto;
}
.air-title{
    padding-top: 80px;
    padding-bottom: 45px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
    }
.airHeaters-slider-title{
    background: linear-gradient(180deg, #abd5e836 4.17%, rgba(255, 255, 255, 0) 100%);
}
.green-num{
    padding-left:24px;
    padding-bottom: 65px;
}
.green-description{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #021C27;
    opacity: 0.4;
    width: 80%;
}
.green-ellipse span{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    opacity: 0.6;
}
.technological{
    background-color: #abd5e81a;
    display: inline-block;
    padding: 60px 0;
    width: 100%;
}
:host::ng-deep .footer .footer__image{
    display: block;
}
.heat-section{
    background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
}
.heat-container{
    width: 83%;
    margin:auto;
}
.heat-title{
font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 46px;
line-height: 120%;
letter-spacing: -0.02em;
color: #021C27;
padding: 80px 100px 28px 0;
margin-right:92px;
  @media screen and (max-width: 1040px){
    padding: 80px 0 28px 0;
    margin: 0;
  }
  @media screen and (max-width: 812px){
    font-size: 33px;
    text-align: center;
  }
  @media screen and (max-width: 490px){
    font-size: 25px;
    padding: 30px 0 20px 0px;
  }
}
.heat-little-title{
font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 140%;
letter-spacing: 0.2px;
color: #021C27;
opacity: 0.35;
  @media screen and (max-width: 490px){
    text-align: center;
  }
}
.heat-flex{
display: flex;
margin-top:40px;
flex-wrap: wrap;
justify-content: space-between;
padding-bottom: 80px;
  @media screen and (max-width: 600px){
    margin-top: 20px;
  }
}
.equipment-series-flex{
display: flex;
justify-content: flex-start;
  @media screen and (max-width:1260px ){
   flex-wrap: wrap;
  }
}
.equipment-series-title{
font-family: Manrope;
font-weight: 800;
font-size: 46px;
line-height: 120%;
letter-spacing: -0.03em;
color: #021C27;
}
.equipment-series-title2{
font-family: Manrope;
font-weight: 800;
font-size: 46px;
line-height: 120%;
letter-spacing: -0.03em;
color: #021C27;
padding-top:80px;
}
.equipment-color{
background: linear-gradient(180deg, #abd5e838 4.17%, rgba(255, 255, 255, 0.12) 100%);
}
.slider{
position:relative;
padding-bottom: 116px;
&__flex{
display: flex;
justify-content: space-between;
@media screen and (max-width: 1200px){
  justify-content: center;
  margin-top: 50px;
  :last-child{
    display: none;
  }
}
}
&__left{
position: absolute;
top:41%;
left:42px;
width: 48px;
height: 48px;
}
&__right{
position: absolute;
top:41%;
right:42px;
width: 48px;
height: 48px;
}
}
.full-range{
  @media screen and (max-width: 796px){
    width: 100%;
  }
  @media screen and (max-width: 500px){
    width: 48%;
  }
}
