.footer{
  background: #021C27;
  &__image {
    background: url("../../../../assets/img/footer-img.png")  0 0/100% auto no-repeat;
    width: 100%;
    padding: 44px 0 52px 120px;
    &-title {
      font-style: normal;
      font-weight: 800;
      font-size: 42px;
      line-height: 120%;
      letter-spacing: -0.03em;
      color: #FFFFFF;
      text-shadow: 0 2px 20px rgba(67, 94, 106, 0.5);
    }
    &-text {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.03em;
      color: #FFFFFF;
    }
    &_disable {
      display: none;
    }
    &_active {
      display: block;
    }
  }
}
.footer-flex{
  display: flex;
  width:83%;
  margin:auto;
  padding:67px 0 56px;
  justify-content: space-between;
}
a{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #C0C6C9;
  opacity: 0.6;
  text-decoration: none;
}
.uls{
  display:flex;
}
li{
  list-style-type: none;
  /*padding: 8px 16px;*/
}
.about {
  &-company li{
    padding-bottom: 11px;
    padding-right: 92px;
  }
  &-product li {
    padding-bottom: 12px;
    padding-right: 55px;
  }
  &-document{
    margin-right:20px;
    li {
      padding-bottom: 12px;
      padding-right: 55px;
    }
  }
}
ul{
  margin-right:20px
}
.contact{
}
button{
  border: 1px solid #009FE3;
  border-radius: 5px;
  background: #021C27;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #009FE3;
  opacity: 0.6;
  padding:10px 19px 11px 20px;
}
.footer-logo{
  margin-left: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-logo p{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-align: right;
  letter-spacing: 0.2px;
  color: #C0C6C9;
  opacity: 0.3;
  padding-left: 111px;
  margin-top:15px;
}
.phone-number{
  padding-bottom: 12px;
}
.phone-number, .mail{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #EFF3F5;
  opacity: 0.5;
}
.number-mail{
  margin-bottom: 27px;
}

