<div class="footer">
  <div class="footer__image footer__image_{{typeFooterImage.disable}}">
    <div class="footer__image-title">
      Buongiorno, Italia!
    </div>
    <div class="footer__image-text">
      История компании Tecnoclima
    </div>
  </div>
  <div class="footer-flex">
    <div class="uls">

    <ul class="about-company">
      <li><a href=""> О компании</a></li>
      <li><a href="">Сертификаты <br>качества</a></li>
      <li><a href="">Технология</a></li>
      <li><a href="">Производство</a></li>
    </ul>

    <ul class="about-product">
        <li><a href=""> Продукция</a></li>
        <li><a href="">Оборудование <br> для техпроцессов</a></li>
        <li><a href="">Примеры решений</a></li>
        <li><a href=""> Услуги</a></li>
        <li><a href="">Почему мы лучшие</a></li>
    </ul>
      <ul class="about-document">
        <li><a href=""> Пресс-центр</a></li>
        <li><a href=""> Документация <br> и файлы</a></li>
        <li><a href="">Поддержка</a></li>
        <li><a href="">Стать партнером</a></li>
        <li><a href="">Контакты</a></li>
      </ul>

  <div class="contact">
     <div class="number-mail">
       <p class="phone-number">+7 495 104-70-77</p>
       <p class="mail">info@tcgroupenergia.ru</p>
     </div>
      <button>Оставить заявку</button>
    </div>

    </div>
    <div class="footer-logo">
      <img src="../../../../assets/img/footer.logo.svg" alt="no image">
      <p>© 2020 ООО «TC Груп Энергия»</p>
    </div>

  </div>
</div>
