<div class="footer">
  <div class="footer__image footer__image_{{typeFooterImage.disable}}">
    <div class="footer__image-title">
      Buongiorno, Italia!
    </div>
    <div class="footer__image-text">
      История компании Tecnoclima
    </div>
  </div>
  <div class="footer__wrapper">

    <ul class="footer__about-company">
      <li><a routerLink="/company">О компании</a></li>
      <li><a routerLink="">Сертификаты <br>качества</a></li>
      <li><a routerLink="">Технология</a></li>
      <li><a routerLink="">Производство</a></li>
    </ul>

    <ul class="footer__about-product">
      <li><a routerLink="/production"> Продукция</a></li>
      <li><a routerLink="">Оборудование <br> для техпроцессов</a></li>
      <li><a routerLink="/page-solution">Примеры решений</a></li>
      <li><a routerLink="/services"> Услуги</a></li>
      <li><a routerLink="">Почему мы лучшие</a></li>
    </ul>
    <ul class="footer__about-document">
      <li><a routerLink="/press"> Пресс-центр</a></li>
      <li><a routerLink="/documents"> Документация <br> и файлы</a></li>
      <li><a routerLink="/support">Поддержка</a></li>
      <li><a routerLink="/partners">Стать партнером</a></li>
      <li><a routerLink="/contacts">Контакты</a></li>
    </ul>

    <div class="footer__contact">
      <div class="number-mail">
        <p class="phone-number">+7 495 104-70-77</p>
        <p class="mail">info@tcgroupenergia.ru</p>
      </div>
      <button>Оставить заявку</button>
    </div>

    <div class="footer__logo">
      <img src="../../../../assets/img/footer.logo.svg" alt="no image">
      <p  class="footer__logo-text">© 2020 ООО «TC Груп Энергия»</p>
    </div>

  </div>

  <div class="flag">
    <div class="container">
      <div class="flag-flex">
        <div class="flag-russia">
          <img src="../../../../assets/img/flag.russia.png">
          <p class="language">Русский</p>
          <p class="security">Политика конфидициальности</p>
        </div>
        <div>
          <p class="web">Разработка сайта</p>
        </div>
      </div>
    </div>
  </div>
</div>
