<div class="footer">
  <div class="footer-flex">
    <div class="uls">
<ul>
  <li><a href=""> О компании</a></li>
  <li><a href="">Сертификаты качества</a></li>
  <li><a href="">Технология</a></li>
  <li><a href="">Производство</a></li>
</ul>

    <ul>
      <li><a href=""> О компании</a></li>
      <li><a href="">Сертификаты качества</a></li>
      <li><a href="">Технология</a></li>
      <li><a href="">Производство</a></li>
    </ul>

    <ul>
      <li><a href=""> О компании</a></li>
      <li><a href="">Сертификаты качества</a></li>
      <li><a href="">Технология</a></li>
      <li><a href="">Производство</a></li>
    </ul>

    <ul>
      <li><a href=""> О компании</a></li>
      <li><a href="">Сертификаты качества</a></li>
      <li><a href="">Технология</a></li>
      <li><a href="">Производство</a></li>
    </ul>

    </div>

  </div>
</div>
