<app-header></app-header>
<div class="error404">
  <div class="container">
    <p>404</p>
  </div>
</div>
<div class="error">
  <div class="container">
    <div class="error__description">
     <p class="error__title">Страницы не существует</p>
      <p class="error__text">Вы зашли на несуществующую страницу.
         Возможно в адресной строке допущена ошибка,
        страница переименована, удалена или ее правда никогда не было.</p>
    </div>
  </div>
  <div class="error-container">
  <div class="error__search">
    <p>Воспользуйтесь поиском или перейдите в один из разделов сайта</p>
    <div class="error__search__flex">
      <input type="text">
      <button class="error_search__button">Найти</button>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>
