.background{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:375px) {
    display: none;
  }
  img{
    @media screen and (max-width:1410px) {
      width:33%;
      height: 250px;
    }
    @media screen and (max-width:1260px) {
      height: 220px;
    }
    @media screen and (max-width:1200px) {
      width:33%;
      height: 200px;
    }
    @media screen and (max-width:1100px) {
      width:33%;
      height: 180px;
    }
    @media screen and (max-width:900px) {
      height:150px;
    }
    @media screen and (max-width:520px) {
      height:130px;
    }
    @media screen and (max-width:460px) {
      height:100px;
    }
  }
  //@media screen and (max-width:1400px) {
  // justify-content: space-evenly;
  //}
  //&__images{
  //  display: flex;
  //  width: 66.25%;
  //  justify-content: space-between;
  //  @media screen and (max-width:1400px) {
  //    width: 450px;
  //    justify-content: space-around;
  //  }
  //}
}


