.background{
  display: flex;
  justify-content: space-between;
  img{
    @media screen and (max-width:1410px) {
      width:30%
    }

  }
  //@media screen and (max-width:1400px) {
  // justify-content: space-evenly;
  //}
  //&__images{
  //  display: flex;
  //  width: 66.25%;
  //  justify-content: space-between;
  //  @media screen and (max-width:1400px) {
  //    width: 450px;
  //    justify-content: space-around;
  //  }
  //}
}


