<div class="global-conference" style="background-color: white">

</div>
<div class="container">
  <div class="flex-container">
  <div class="text-info">
    <p class="text-conference">На конференцию были приглашены представители многочисленных учреждений итальянского и российского бизнеса.</p>
    <p class="text2-conference">При содействии со стороны Государственного Секретаря по вопросам Экономического Развития, Айвана Скелфаротто и Заместителя Премьер-Министра Российской Федерации Аркадия Владимировича Дворковича, который возглавлял Российскую Делегацию. Презентацию подготовил Генеральный директор российского представительства завода Текноклима, рассказав о достижениях компании ООО "ТС Груп Энергия" и различных проектах в сфере высокотехнологичных систем воздушного отопления.</p>
  </div>
<div class="conference-info">
  <p class="info-text">ООО «TC Груп Энергия» проектирует, поставляет  и монтирует системы воздушного отопления с 2005 г. География выполненных объектов нашей компании охватывает всю территорию страны, от Дальнего Востока и Чукотки до западных границ России.</p>
</div>
</div>
</div>
