.container{
  width:83%;
  margin:auto;
}
.menu-list{
  //opacity: 0.3;
  border-bottom: 1px solid #C0C6C9;
}
.menu{
  display: flex;
  margin-bottom: 16px;
}
.menu li{
  list-style-type: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
  padding-right: 9px;
}

.services-block h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 36px;

}
.services-block p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top: 66px;

}
.services-container{
  width:83%;
  margin:auto;
}
.technical{
  background: #FFFFFF;
}
.technical-container{
  width: 83%;
  margin: auto;
}
.technical-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.text-img-block{
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
}
.technical-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding:72px 82px 34px 82px;
}
.technical-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-left: 82px;
  padding-right: 82px;

}
.technical-description{
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  border-radius: 40px;
  margin-right: 20px;
}
.technical-description button{
  background: #009FE3;
  border: none;
  border-radius: 4px;
  padding: 11px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 30px 82px 80px;
  &:hover{
    background: #021C27;
    border-radius: 4px;
    transition-duration: 0.5s;
  }
}

.application{

  &__blue__flag{
    position: fixed;
    bottom:0;
    right: 0;
  }
  &__tittle{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
    position: fixed;
    top: 80px;
    left: 112px;
  }
  &__text{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    color: #021C27;
    position: fixed;
    top: 155px;
    left: 112px;
  }
  &__form{
    &__name{
      position: fixed;
      top: 270px;
      left: 112px;

      label{
        position: fixed;
        top: 270px;
        left: 112px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
      }
      input{
        position: fixed;
        top: 297px;
        left: 112px;
        width: 488px;
        height: 50px;
        background: #FFFFFF;
        opacity: 0.6;
        border: 1px solid #C0C6C9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
      }

    }
    &__tel{
      position: fixed;
      top: 377px;
      left: 112px;
      label{
        position: fixed;
        top: 377px;
        left: 112px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
      }
      input{
        position: fixed;
        top: 405px;
        left: 112px;
        width: 488px;
        height: 50px;
        background: #FFFFFF;
        opacity: 0.6;
        border: 1px solid #C0C6C9;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 10px;
      }

    }
    &__checkbox{
      cursor: pointer;
      position: fixed;
      top: 485px;
      left: 112px;
      input{
        position: fixed;
        top: 491px;
        left: 113px;
        background: #021C27;
        border-radius: 4px;
      }
      label{
        position: fixed;
        top: 485px;
        left: 137px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #021C27;
        padding-left: 8px;

      }
    }
    &__button{
      position: fixed;
      top: 543px;
      left: 113px;
      cursor: pointer;
      background: #009FE3;
      border-radius: 5px;
      padding: 13px 24px;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 120%;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
    }


  }
}
