.servieces-line{
  opacity: 0.3;
  border: 1px solid #C0C6C9;
  margin-top: 104px;
}
.services-block h6{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 36px;

}
.services-block p{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top: 66px;

}
.services-container{
  width:83%;
  margin:auto;
}
.technical{
  background: #FFFFFF;
}
.technical-container{
  width: 83%;
  margin: auto;
}
.technical-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.text-img-block{
  display: flex;
margin-top: 80px;
  align-items: flex-start;


}
.technical-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-bottom: 34px;
  padding-top: 72px;
  padding-left: 82px;
  padding-right: 82px;
}
.technical-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-left: 82px;
  padding-right: 82px;


}
.technical-description{
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  border-radius: 40px;
  margin-right: 20px;
}
.technical-description button{
  background: #009FE3;
  border: none;
  padding-top:10.53px;
  padding-bottom: 11.47px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 82px;
 margin-right: 82px;
 margin-bottom: 80px;
  margin-top: 30px;
}
