.select-input {
  width: 307px;
  height: 52px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  background: white;
  border-bottom: 1px solid rgba(0, 159, 227, .12);
  padding: 17px 0 16px 35px;

  &_selected {
    color: #009FE3;
    background: rgba(0, 159, 227, .1);
  }

  &_default {
    color: #021C27;
    background: white;
  }

}
