.heating-container{
  width: 83%;
  margin:auto;
  max-width: 1440px;
}
blog-title{

}
.system{
  background: #FFFFFF;
  box-shadow: 0 5px 40px rgba(2, 26, 36, 0.04);
  border-radius: 20px;
  margin-top:60px;
  width: 32.3%;
}
.system-container{
  padding:40px 25px 68px 40px;
  margin-right:19px;
}
.system-click{
  background: #009FE3;
  opacity: 0.45;
  border-radius: 4px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding:5px 10px;
  margin-bottom: 8px;
  border:none;
}
.system-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.person-data{
  display: flex;
}
.system-text{
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top:20px;
  padding-bottom: 29px;
}
.system-person{
  border-radius: 50%;
}
.system-info{
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.2px;
  color: #909DA3;
  padding-left: 10px;
}
.blog{
  width: 83%;
  margin: auto;
  padding-top:80px
}
.blog-title{
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
}
.line{
  border-bottom:1px solid #C0C6C9;
}
.menu-italy{
  display:inline-flex;
  padding-top:60px;
}
.menu-italy li{
  list-style-type: none;
  padding: 0 13px;
}
.heating-global{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-italy li a{
  text-decoration: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.3;
}
