.heating{
  display: flex;
  justify-content: space-between;
  padding-top:60px;
  flex-wrap: wrap;

  &__system{
    background: #FFFFFF;
    box-shadow: 0 5px 40px rgba(2, 26, 36, 0.04);
    border-radius: 20px;
    width: 32.3%;
    padding: 40px;
    &:hover{
      background: #d4f3ff;
      border-radius: 20px;
      transition-duration: 0.5s;
    }
    @media screen and (max-width:1350px){
    padding:25px;
    }
    @media screen and (max-width:1200px){
      width:70%;
      margin-top: 40px;
    }

    &__type{
      padding:40px 25px 68px 40px;
      margin-right:19px;
    }
  }
  &__button{
    background: #009FE3;
    opacity: 0.45;
    border-radius: 4px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:5px 10px;
    margin-bottom: 8px;
    border:none;
  }
  &__title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #021C27;
  }
  &__person-data{
    display: flex;
  }
  &__text{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #021C27;
    padding-top:20px;
    padding-bottom: 29px;
  }
  &__person{
    border-radius: 50%;
  }
  &__info{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #909DA3;
    padding-left: 10px;
  }
  a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

