
<div class="slider">
  <div class="left-slide">
    <img src="./../../../../assets/air-heaters/left.png" alt="">
  </div>
  <div class="right-slide">
    <img src="./../../../../assets/air-heaters/right.png" alt="">
  </div>
  <div class="container">
  <div class="slider-block">
    <div class="slider-child" *ngFor="let item of getList">
      <img src="{{item.img}}" alt="">
      <div class="slider-child-flex">
        <h6>{{item.title}}</h6>
        <p>{{item.text}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
