<div class="series__tittle">
  <div class="container">
      <h1>Серии</h1>

  </div>
</div>
<div class="series">
  <div class="container">
    <ul class="series__section">
      <li>
        <p>A</p>
        <p>AGRI-C </p>
        <p> AGRI-DF</p>
        <p>AGRI-P</p>
        <p>AQUACIKKI</p>
        <p>AQUAPIGGY</p>
        <p>AZN</p>
        <p>AZN-X</p>
      </li>

      <li>
        B<br>
        BOXY
      </li>
      <a routerLink="/solution-category">
        <li>
          C<br>
          CF-CM/P<br>
          CF-GAS
        </li>
      </a>

      <li>
        D<br>
        DUO-MO<br>
      </li>
      <li>
        E <br>
        EKOCIKKI<br>
        ENERGY<br>
      </li>
      <li>
        K<br>
        KLIMAXS
      </li>
      <li>
        N<br>
        NTN
      </li>
      <li>
        P<br>
        PCM<br>
        PIGGY<br>
        PMX
      </li>
      <li>
        S<br>
        SMARTBOXY<br>
        SR<br>
        SUPERCIKKI 80
      </li>
      <li>
        T<br>
        TC-DF<br>
        TC-E<br>
        TCO-E
      </li>
      <li>
        U<br>
        UT<br>
        UT/K<br>
        UTAK
      </li>
      <li>
        W<br>
        WIMBLEDON
      </li>
    </ul>


  </div>
</div>
