* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
  font-style: normal;
}
.container{
  width:83%;
  margin:auto;
  max-width: 1440px;
}
//li{
//  list-style-type: none;
//}
.container__gradient{
  background: linear-gradient(90deg, rgba(171, 213, 232, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
  width: 38%;
  display: flex;
  flex-direction: column;
  padding-left: 67px;
}
