<div>
  <div class="document">
      <p class="document-title">Документы и файлы</p>
    <div class="document-block">
      <div class="document-block-child">
        <div><img src="../../../assets/icons/Group 179.png" alt="">
          <p>Инструкция по эксплуатации, монтажу и техническому обслуживанию (RU)</p></div>

        <div> <span>09.06.20 Rev.1</span>
          <button class="download">Скачать</button></div>
      </div>
      <div class="document-block-child">
        <div><img src="../../../assets/icons/Group 179.png" alt="">
          <p>Презентация TC-DF</p></div>
        <div><span>22.06.20</span>
          <button class="download">Скачать</button></div>
      </div>
      <div class="document-block-child">
        <div><img src="../../../assets/icons/Group 179.png" alt="">
          <p>Чертежи конструкции TC-DF</p></div>
        <div><span>05.05.20 Rev.0</span>
          <button class="download">Скачать</button></div>
      </div>
      <div class="document-block-child">
        <div><img src="../../../assets/icons/Group 179.png" alt="">
          <p>3D модель оборудования TC-DF</p></div>
        <div> <span>09.06.20 Rev.1</span>
          <button class="download">Скачать</button></div>

      </div>
    </div>
</div>
  </div>
