<div class="advantages">
  <div class="advantages container">
    <div class="container__features">
      <div>
        <p class="container__features__content">
          Тем не менее, и сегодня существуют системы обогрева <br>
          производственных помещений с загрязненной средой,<br>
          где приточный воздух нагревается газовыми горелками<br>
          прямого нагрева. В этом случае содержание некоторого количества<br>
          продуктов сгорания газа в приточном воздухе несущественно<br>
          по сравнению с загрязненностью воздуха в помещении.
        </p>
      </div>
      <div>
        <p class="container__features__title">
          Преимущества <br>и особенности воздушного <br> отопления
        </p>
      </div>
      <div>
        <p class="container__features__general">
          Главным достоинством воздушного отопления является <br> отсутствие воды в системе. Из этого следует:
        </p>
      </div>



    </div>

    <div class="container__gradient">
      <p class="container__gradient__description">В случае непредвиденной остановки системы отопления в холодный период, риск разморозки также полностью отсутствует.</p>
    </div>

  </div>
</div>

<app-news-slider></app-news-slider>


<div class="advantages">
  <div class="advantages container">
    <div class="container__features">
      <div>
            <p class="container__features__system">
              В системах воздушного отопления тепло передается напрямую от
              источника к воздуху, подаваемому в помещение, без применения
              промежуточного теплоносителя. Таким образом, из системы
              исключается основной источник проблем — жидкость.
              <br><br>
              В системе воздушного отопления не бывает протечек, коррозии,
              отсутствуют потери тепла в длинных подводящих магистралях.</p>
      </div>

    </div>

    <div class="container__gradient">

    </div>

  </div>

  </div>

<div class="advantages">
  <div class="advantages container">
    <div class="container__features">
      <div>
        <p class="container__features__paragraphTitle">Заголовок 3</p>
        <p class="container__features__paragraph">
          Еще одним преимуществом является возможность
          объединения системы воздушного отопления с системой
          приточной вентиляции. <br><br>
          Система воздушного отопления может работать с
          подмесом наружного воздуха до 100%, т.е. при необходимости быть
          полностью приточной.
          Это бывает необходимо для помещений класса взрывопожаробезопасности А или Б.
        </p>
      </div>
      <div>
        <p class="container__features__paragraphName">Заголовок 4</p>
        <p class="container__features__paragraphText">
          Тем не менее, воздушное отопление имеет ряд особенностей, ограничивающих его применение, в основном, промышленными объектами:
        </p>
        <div>
          <ul class="container__features__ul">
            <li> повышенная шумность;</li>
            <li>необходимость в разводке громоздкой вентиляционной сети;</li>
            <li>большие габариты теплогенераторов.</li>
          </ul>
        </div>
        <div>
          <p class="container__features__title">
            Экономический эффект <br> от применения <br> воздушного отопления
          </p>

          <p class="container__features__paragraph">
            <span>Децентрализация.</span><br>
            Уход от центральной котельной позволяет существенно сократить
            издержки на строительство протяженных магистралей от
            котельной до обогреваемых помещений. <br><br>
            Газовая магистраль той же длины в строительстве обходится
            существенно дешевле.<br><br>
            Теплопотери, неизбежные при передаче тепла теплоносителем на большие расстояния, полностью отсутствуют в децентрализованной системе.
          </p>
        </div>
      </div>
    </div>

    <div class="container__gradient">
      <p class="container__gradient__title">Снижение рисков <br>для предприятия</p>
      <p class="container__gradient__about">
        Для предприятий, имеющих дело с хранением или
        производством продукции, боящейся воды, наличие
        магистралей с теплоносителем, проходящих, как
        правило, по опорным конструкциям над
        производственным или складским помещением,
        является существенным риском. <br><br>
        В случае воздушного отопления данный риск
        отсутствует.<br><br>
        В случае непредвиденной остановки системы
        отопления в холодный период, риск разморозки
        также полностью отсутствует.<br><br>
        Кроме того, децентрализованность системы
        воздушного отопления на предприятии исключает
        риски, связанные с выходом из строя единственной
        общей котельной или прорыва главной тепловой
        магистрали.
      </p>
      <div>
        <img src="../../../../assets/news/image 45.png" />
      </div>

    </div>
  </div>

</div>
