.menu-list {
  padding-top: 20px;
}
.menu {
  display: flex;
  max-width: 1440px;
  width: 83%;
  margin: auto;
  border-bottom: 1px solid #C0C6C9;
  padding-bottom: 16px;
}
.menu li {
  list-style-type: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #C0C6C9;
  padding-right: 9px;
  opacity: 0.3;
}
.support-container {
  width: 83%;
  max-width: 1440px;
  margin: auto;
}
.support-container-title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 30px;
  padding-bottom: 66px;
  @media screen and (max-width:800px) {
   font-size: 50px;
  }
}
.support-child1-text1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #021C27;
  max-width: 560px;
}
.support-child1 img {
  margin-top: 60px;
  @media screen and (max-width:500px) {
    margin-top: 18px;
  }
}
.support-child1-text2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.support-child2-text1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
}
.support-child2-text2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-top: 6px;
}
.support-child2-text3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #021C27;
  padding-top: 79px;
  @media screen and (max-width:570px) {
    padding-top: 20px;
  }
}
.support-text {
  display: flex;
  padding-bottom: 80px;
  justify-content: space-between;
  @media screen and (max-width:570px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width:500px) {
    justify-content: center;
  }
}
.support-child2 {
  margin-left: 253px;
  @media screen and (max-width: 1200px) {
    margin-left: 30px;
  }
  @media screen and (max-width: 570px) {
    margin: 0;
    padding-top: 30px;
  }
}
.documents {
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
}
.documents-block {
  max-width: 1440px;
  width: 83%;
  margin: auto;
  padding-bottom: 108px;
  position: relative;
}
.documents-title {
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 80px;
}
.documents-ul {
  display: flex;
  margin-top: 60px;
  border-bottom: 1px solid #C0C6C9;
  @media screen and (max-width:913px) {
   overflow-x: auto;
  }
  ::-webkit-scrollbar-corner{
  color: #FFFFFF;
}
}
.documents-ul li {
  list-style-type: none;
}
.documents-ul li:first-child {
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
  border-bottom: 5px solid #021C27;
}
.documents-ul li:nth-child(n+2) {
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  opacity: 0.3;
  padding-left: 30px;
  padding-bottom: 20px;
}
.documents-block-title {
  font-weight: 800;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
}
.choose-block {
  display: flex;
  margin-top: 60px;
}
.choose-block button {
  background: #021C27;
  border: 1px solid #021C27;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-left: 20px;
  padding: 11px 12px;
  cursor: pointer;
  &:hover{
    cursor: pointer;
    background: #009FE3;
    border: 1px solid #009FE3;
    transition-duration: 0.5s;
  }
  @media screen and (max-width:507px) {
    font-size: 10px;
  }
}
.choose-block button span {
  padding-left: 20px;
}
.file-img {
  margin-top: 86px;
  text-align: center;
}
.instructions {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  position: absolute;
  bottom: 100px;
  background: linear-gradient(90deg, #FBFEFF 0%, #F0F8FC 100%);
  display: none;
  @media screen and (max-width:1072px) {
    position: absolute;
    bottom: 75px;
  }
  &_show {
    display: block;
  }
  &__wrapper {
    border-bottom: 1px solid #C0C6C9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-left: 14px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: #021C27;
    display: inline-block;
    padding-top: 38px;
    padding-bottom: 41px;
    @media screen and (max-width: 1026px) {
      font-size: 12px;
    }
    @media screen and (max-width: 510px) {
      font-size: 15px;
      width: 334px;
    }
    @media screen and (max-width: 440px) {
      font-size: 11px;
      width: 276px;
    }
  }
  &__data {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    text-align: right;
    letter-spacing: 0.2px;
    color: #C0C6C9;
    display: inline-block;
    padding-top: 44px;
    padding-bottom: 44px;
    @media screen and (max-width:1026px) {
     display: none;
    }
  }
  &__button {
    border: 1px solid #009fe33b;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #009FE3;
    padding: 6px 10px;
    margin-left: 40px;
    background: none;
    cursor: pointer;
    @media screen and (max-width:1026px) {
      display: none;
    }
  }
}
.questions {
  max-width: 1440px;
  width: 83%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:1000px) {
    flex-wrap: wrap;
  }
}
.questions-title {
  font-weight: 800;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #021C27;
  padding-top: 80px;
  @media screen and (max-width:790px) {
    font-size: 35px;
  }
}
.questions-block {
  margin-top: 60px;
  padding-bottom: 90px;
  @media screen and (max-width: 550px) {
    padding-bottom: 40px;
  }
}
.questions-block ul li {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  list-style-type: none;
}
.questions-block li span {
  border-bottom: 1px dashed #009FE3;
}
.questions-block li::before {
  content: '+';
  padding-right: 16px;
  color: #009FE3;
  border-bottom: none;
  cursor: pointer;
}
.questions-block ul li:nth-child(n+2) {
  margin-top: 37px;
}
.questions2 {
  width: 32%;
  position: relative;
  margin-top: 44px;
  @media screen and (max-width:1000px) {
    margin-top: 0px;
    padding-bottom: 40px;
  }
  @media screen and (max-width:1000px) {
    width: 100%;
  }
}
.questions2 div {
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (max-width:1000px) {
    left: 30px;
  }
  @media screen and (max-width:550px) {
    display: none;
  }
}
.questions2-title {
  padding-top: 150px;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #021C27;
  @media screen and (max-width: 700px) {
    font-size: 19px;
  }
  @media screen and (max-width: 550px) {
    padding-top: 0;
  }
}
.questions2-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021c27;
  padding-top: 30px;
  @media screen and (max-width:1000px) {
    width: 300px;
  }
}
.questions2 button {
  margin-top: 60px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #009FE3;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  &:hover{
    background: #021C27;
    border-radius: 4px;
    transition-duration: 0.5s;
  }
  @media screen and (max-width:1000px) {
    margin-top: 30px;
  }
  @media screen and (max-width:640px) {
    padding: 7px 10px;
  }
  @media screen and (max-width:560px) {

  }
}
.modal {
  &__list {
    list-style-type: none;
    margin-right: 16px;
    width: 60px;
    padding-top: 60px;
    @media screen and (max-width:1026px) {
      padding-top: 25px;
    }
    @media screen and (max-width: 739px) {
      padding-top: 4px;
    }
    li {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.2px;
      color: #021C27;
      @media screen and (max-width: 739px) {
       font-size: 7px;
      }
      @media screen and (max-width: 739px) {
        font-size: 10px;
      }
      &:first-child {
        font-weight: bold;
      }
      &:nth-child(n+2) {
        padding-top: 4px;
        &:hover {
          background: #021C27;
          border-radius: 5px;
          cursor: pointer;
          color: #FFFFFF;
          padding: 5px 5px;
          font-size: 12px;
        }
      }
    }
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
    }
  }
}
