.solution-header{
  background-color: #FFFFFF;
  position: relative;
  &__ul{
    display: flex;
    padding-top: 20px;
    padding-bottom: 16px;
    max-width: 532px;
  }
  &__border{
    border-bottom: 1px solid rgba(192, 198, 201, 0.3);
  }
  &__li{
    list-style-type: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #C0C6C9;
  }
  &__li:nth-child(n+2){
    padding-left: 12px;
  }
}
.salon{
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &__square{
      background: #009FE3;
      opacity: 0.3;
      border-radius: 2px;
      width: 13px;
      height: 13px;
    }
    &__square2{
      width: 13px;
      height: 13px;
      position: absolute;
      top: 8px;
      left: 5px;
      background: #009FE3;
      border-radius: 2px;
    }
    a{
      text-decoration: none;
      border-bottom:1px solid #009FE3;
      font-family: Manrope;
      font-size: 15px;
      letter-spacing: 0.2px;
      color: #021C27;
      margin-left:14px;
      cursor: pointer;
    }
  }
  &__title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021C27;
  }
  &__slider{
    &__flex{
      display:flex;
      justify-content: space-between;
      padding-top:60px
    }
  }
}
.slideSelect .container{
  padding-top: 70px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  &__right-vector{
    transform: rotateY(180deg);
  }
  &__numbers{
    display: flex;
    justify-content: space-between;
    width: 162px;
    border-bottom: 1px solid rgba(2, 28, 39, 0.15);
    div{
     margin: auto;
      cursor: pointer;
      padding-bottom: 14px;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        transition-duration: 0.5s;
        //border-bottom: 1px solid black;
      }
      }
      p{
        color: rgba(2, 28, 39, 0.15);
        &:hover{
          position: static;
          color: black;
          transform: scale(1.7,1.7);
          z-index: 999;
      }
    }
  }
  img{
    color: black;
    cursor: pointer;
    &:hover{
      opacity: 0.15;
    }
  }
}
