  .news {
    background-color: rgba(255, 255, 255, 0.97);

    &__group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__text {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 160%;
      letter-spacing: 0.2px;
      color: #021C27;
      background-color: white;
      padding-bottom: 75px;
      width: 570px;
    }

    &__fon {
      background: linear-gradient(90deg, #abd5e840 0%, rgba(255, 255, 255, 0) 100%);
      width: 490px;
      &__text {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 0.2px;
        color: #021C27;
        padding-left: 121px;
      }
    }

      &__images {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: white;
        &__image {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          background-color: white;
        }

        &__imageTwo {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          background-color: white;
        }
      }



      &__flex {
        display: flex;
        justify-content: space-between;
      }

      &__info-text {
        width: 570px;
        margin-right: 135px;
        background-color: white;
      }

      &__file-text {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 160%;
        letter-spacing: 0.2px;
        color: #021C27;
        background-color: white;
        margin-top: 75px;
      }

      &__gradient {
        background: linear-gradient(90deg, #abd5e840 0%, rgba(255, 255, 255, 0) 100%);
        width: 490px;
      }

    }
