.news {
  background-color: white;
}
.news-contain {
  max-width: 1200px;
  margin: auto;
  background-color: white;
}
.file-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
}
.file-text-1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  background-color: white;
  padding-bottom: 75px;
  width: 570px;
  margin-right: 122px;
}
.text-fon {
  background: linear-gradient(90deg,#abd5e840 0%, rgba(255, 255, 255, 0) 100%);

}
.file-text-2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  padding-left: 109px;
}
.file-text-3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: #021C27;
  background-color: white;
  margin-top:75px ;
}
.file-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
}
.image-file2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
}
.image-file{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
}
.info-flex {
  display: flex;
  width: 1200px;
}
.info-text {
  width: 570px;
  margin-right: 135px;
  background-color: white;
}
.info-gradient {
  background: linear-gradient(90deg, #abd5e840 0%, rgba(255, 255, 255, 0) 100%);
  width: 490px;
}
